<html>
<section layout:fragment="annotationContent">
	<p style="float:right;margin-left: 10px;">
		<a href="#" th:href="@{/unlinkFromScenario/}+${docId}+'/'+${ann.id}+'/'+${scenario.getExternalId()}">
			<span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Delete annotation"></span>
		</a>
		<a th:id="'moveAnnotation'+${ann.id}" data-toggle="modal" data-target="#move" href="#">
			<span class="glyphicon glyphicon-retweet" data-toggle="tooltip" data-placement="bottom" title="Move annotation to other scenario"></span>
		</a>

		<script type="text/javascript" th:inline="javascript">
		$("#moveAnnotation"+/*[[${ann.id}]]*/).click(function(){
			$("#elements").load(/*[[@{/moveAnnotationScenario/}+${docId}+'/'+${ann.id}]]*/);
		});
		</script>
	</p>
	<p><b>Document Quote: </b><i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i></p>
	<p><b>Comment: </b><span th:text="${ann.text}"></span></p>
	<p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
</section>

<section layout:fragment="elementText">
	<div id="EditText">
		<a th:id="'showEditor'+${element.getExternalId()}" href="#toggleEditor" data-toggle="collapse" th:attr="data-target=${'#editorCollapse'+element.getExternalId()}">
			<span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="right" title="" data-original-title="Add/Edit Text"></span>
		</a>
		<div th:id="'textViewer'+${element.getExternalId()}" th:text="${element.getText()}" style="border-style: solid; border-width: 1px; border-color: #DEDEDE; padding: 5px; border-radius: 4px;" th:if="${element.getText() != null} and ${!element.getText().equals('')}"></div>
		<div class="collapse" th:id="'editorCollapse'+${element.getExternalId()}" style="border-style: solid; border-width: 1px; border-color: #DEDEDE; padding: 5px; border-radius: 4px;">
			<textarea class="form-control" th:id="'text'+${element.getExternalId()}" th:text="${element.getText()}" style="margin-bottom:10px;"></textarea>
			<button th:id="'submitText'+${element.getExternalId()}" class="btn btn-default" type="submit">Submit</button>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">

	$("#submitText"+/*[[${element.getExternalId()}]]*/).click(function(){
		var elemtext = document.getElementById("text"+/*[[${element.getExternalId()}]]*/).value;
		var ident = /*[[${element.getIdentifier()}]]*/;
		var loc ="";
		if(ident === 'Scenario'){
			loc = /*[[@{/setScenarioText/} + ${docId} + '/'+${element.getExternalId()}]]*/;
		}else{
			loc = /*[[@{/setElementText/} + ${docId} +'/'+${scenario.getExternalId()}+ '/'+${element.getExternalId()}]]*/;
		}
		var content = {text: elemtext}
		$.ajax(loc,{
			method: "POST",
			data: content
		}).done(function(data, textStatus, jqXHR){
			console.log(data);
			console.log(textStatus);
			console.log(jqXHR);
			window.location.hash="#Scenario";
			window.location.reload(true);
		});
	});
	</script>
</section>

<section layout:fragment="viewText">
	<div id="EditText">
		<a th:id="'showEditor'+${element.getExternalId()}" href="#toggleEditor" data-toggle="collapse" th:attr="data-target=${'#editorCollapse'+element.getExternalId()}">
			<span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="right" title="" data-original-title="Add/Edit Text"></span>
		</a>
		<div th:id="'textViewer'+${element.getExternalId()}" th:text="${element.getText()}" style="border-style: solid; border-width: 1px; border-color: #DEDEDE; padding: 5px; border-radius: 4px;" th:if="${element.getText() != null} and ${!element.getText().equals('')}"></div>
		<div class="collapse" th:id="'editorCollapse'+${element.getExternalId()}" style="border-style: solid; border-width: 1px; border-color: #DEDEDE; padding: 5px; border-radius: 4px;">
			<textarea class="form-control" th:id="'text'+${element.getExternalId()}" th:text="${element.getText()}" style="margin-bottom:10px;"></textarea>
			<button th:id="'submitText'+${element.getExternalId()}" class="btn btn-default" type="submit">Submit</button>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">

	$("#submitText"+/*[[${element.getExternalId()}]]*/).click(function(){
		var elemtext = document.getElementById("text"+/*[[${element.getExternalId()}]]*/).value;
		var loc = /*[[@{/setViewText/} + ${docId} + '/'+${element.getExternalId()}]]*/;
		var content = {text: elemtext}
		$.ajax(loc,{
			method: "POST",
			data: content
		}).done(function(data, textStatus, jqXHR){
			console.log(data);
			console.log(textStatus);
			console.log(jqXHR);
			window.location.hash="#View";
			window.location.reload(true);
		});
	});
	</script>
</section>

<section layout:fragment="scenarioAnnotationsTemplate">
	<div>
		<ul class="list-group" style="margin-top:10px">
			<li class="list-group-item" th:each=" ann : ${scenario.getJsonAnnotations()}" th:if="${ann.tag.equals('Scenario Description')}">
				<a href="" th:name="${ann.id}"></a>  
				<section layout:include="@{annotationFragments} :: annotationContent"></section>
			</li>
		</ul>
	</div>
	<section layout:include="@{annotationFragments} :: elementText" th:with="element=${scenario},scenario=${scenario}"></section>
</section>
<section layout:fragment="scenarioElementsAnnotations">
	<div th:if="${elem != null}">
		<ul class="list-group" style="margin-top:10px" th:each=" ann : ${elem.getJsonAnnotations()}">
			<li class="list-group-item">
				<a href="" th:name="${ann.id}"></a>
				<section layout:include="@{annotationFragments} :: annotationContent"></section>
			</li>
		</ul>
		<section layout:include="@{annotationFragments} :: elementText" th:with="element=${elem},scenario=${scenario}"></section>
	</div>
</section>

<section layout:fragment="tacticsAnnotations">
	<div th:if="${!scenario.getTacticSet().isEmpty()}">
		<div th:each="tactic : ${scenario.getTacticSet()}">
			<b>
				<span th:text="'- '+${tactic.getIdentifier()}" style="font-size:17px;">
				</span>
				<a href="" th:name="${tactic.getIdentifier()}"></a>
			</b>
			<a href="#" th:href="@{/removeTactic/}+${docId}+'/'+${scenario.getExternalId()}+'/'+${tactic.getExternalId()}" style="float:right;">
				<span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="Delete Tactic"></span>
			</a>
			<ul class="list-group">
				<li class="list-group-item" th:each="ann : ${tactic.getJsonAnnotations()}">
					<a href="" th:name="${ann.id}"></a>
					<p style="float:right;margin-left: 10px;">
						<a href="#" th:href="@{/unlinkFromTactic/}+${docId}+'/'+${scenario.getExternalId()}+'/'+${tactic.getExternalId()} + '/' + ${ann.id}">
							<span class="glyphicon glyphicon-share-alt" data-toggle="tooltip" data-placement="bottom" title="Remove annotation from this tactic"></span>
						</a>
					</p>
					<section layout:include="@{annotationFragments} :: annotationContent"></section>
				</li>
			</ul>
			<section layout:include="@{annotationFragments} :: elementText" th:with="element=${tactic},scenario=${scenario}"></section>
		</div>
	</div>
</section>

<section layout:fragment="annotationContentViewtype">
	<p style="float:right;margin-left: 10px;">
		<a href="#" th:href="@{/unlinkFromView/}+${docId}+'/'+${ann.id}+'/'+${view.getExternalId()}">
			<span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Delete annotation"></span>
		</a>
		<a th:id="'moveAnnotation'+${ann.id}" data-toggle="modal" data-target="#move" href="#">
			<span class="glyphicon glyphicon-retweet" data-toggle="tooltip" data-placement="bottom" title="Move annotation to other view"></span>
		</a>

		<script type="text/javascript" th:inline="javascript">
		$("#moveAnnotation"+/*[[${ann.id}]]*/).click(function(){
			$("#elements").load(/*[[@{/moveAnnotationView/}+${docId}+'/'+${ann.id}]]*/);
		});
		</script>
	</p>
	<p><b>Document Quote: </b><i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i></p>
	<p><b>Comment: </b><span th:text="${ann.text}"></span></p>
	<p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
</section>

<section layout:fragment="annotationContentModule">
	<a href="" th:name="${ann.id}"></a>
	<p style="float:right;margin-left: 10px;">
		<a href="#" th:href="@{/unlinkFromModuleViewtype/}+${docId}+'/'+${ann.id}+'/'+${module.getExternalId()}">
			<span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Remove Annotation"></span>
		</a>
		<a th:id="'moveAnnotation'+${ann.id}" data-toggle="modal" data-target="#move" href="#">
			<span class="glyphicon glyphicon-retweet" data-toggle="tooltip" data-placement="bottom" title="Move annotation to other module"></span>
		</a>
	</p>  
	<p><b>Document Quote: </b><i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i></p>
	<p><b>Comment: </b><span th:text="${ann.text}"></span></p>
	<p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
	<script type="text/javascript" th:inline="javascript">
	$("#moveAnnotation"+/*[[${ann.id}]]*/).click(function(){
		console.log("click");
		var loc = /*[[@{/moveAnnotationModule/}+${docId}+'/'+${ann.id}]]*/;
		console.log(loc);
		$("#elements").load(loc);
	});
	</script>
</section>
<section layout:fragment="moduleText">
	<div id="EditText">
		<a th:id="'showEditor'+${module.getExternalId()}" href="#toggleEditor" data-toggle="collapse" th:attr="data-target=${'#editorCollapse'+module.getExternalId()}">
			<span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="right" title="" data-original-title="Add/Edit Text"></span>
		</a>
		<div th:id="'textViewer'+${module.getExternalId()}" th:text="${module.getText()}" style="border-style: solid; border-width: 1px; border-color: #DEDEDE; padding: 5px; border-radius: 4px;" th:if="${module.getText() != null} and ${!module.getText().equals('')}"></div>
		<div class="collapse" th:id="'editorCollapse'+${module.getExternalId()}" style="border-style: solid; border-width: 1px; border-color: #DEDEDE; padding: 5px; border-radius: 4px;">
			<textarea class="form-control" th:id="'text'+${module.getExternalId()}" th:text="${module.getText()}" style="margin-bottom:10px;"></textarea>
			<button th:id="'submitText'+${module.getExternalId()}" class="btn btn-default" type="submit">Submit</button>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">

          $("#submitText"+/*[[${module.getExternalId()}]]*/).click(function(){
            var elemtext = document.getElementById("text"+/*[[${module.getExternalId()}]]*/).value;
            var loc = /*[[@{/setModuleText/} + ${docId} + '/'+${module.getExternalId()}]]*/;
            var content = {text: elemtext}
            $.ajax(loc,{
              method: "POST",
              data: content
            }).done(function(data, textStatus, jqXHR){
              console.log(data);
              console.log(textStatus);
              console.log(jqXHR);
              //window.location.hash="#";
              window.location.reload(true);
            });
          });
          </script>
</section>
</html>