<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Document</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
  <section layout:include="@{/headerFragment} :: headerFragment"></section>
  <nav id="docHeader" class="navbar navbar-default">
     <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" th:href="@{/viewStructuredRepresentation/} + ${docId}">View Structured Representation</a></li>
        <!--<li><a href="#" th:href="@{/addSyntax/} + ${docId}">Add Syntax</a></li>-->
      </ul>
     </div>
  </nav>
  <iframe th:src="@{/getDoc/} + ${docId}"></iframe>
  <style>
    iframe,body,html{
      height: 100%;
      width: 100%;
    }
    iframe{
      width: 100%;
      margin-top: -20px;
    }

    #docHeader{
      margin-top: -20px;
    }
  </style>
</body>
</html>