<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fetching URL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script src="http://assets.annotateit.org/annotator/v1.1.0/annotator-full.min.js"></script>
	<link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.1.0/annotator.min.css"></link>
</head>
<body>
	<div></div>
    <div> <span id="article" th:utext="${link}" ></span> </div>

    <script type="text/javascript">
   			var content = $('#article').annotator();
   			content.annotator('addPlugin', 'Store', {
          prefix: document.URL + '/store'
        });
   			var content2 = $('#article').annotator().annotator('addPlugin', 'Tags');
    </script>
</body>

</html>