<html>
<head>
<!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>    

	

<body>
<!-- INICIO DO HEADER -->
	<nav class="navbar navbar">
	   <div class="container">
	   	<ul class="nav navbar-nav navbar-right">
	   		<li><a href="#">Link</a></li>
	   		<li><a href="#">Link</a></li>
	   	</ul>
	   </div>
	</nav>
	<!-- FIM DO HEADER -->

	<style type="text/css">
		body{
			height: 50px;
		}
	</style>
</body>

</html>