<div id="templateContents" class="well" style="margin-top: -20px;">
  <div class="annotation">
    <div class="element-title">
      <h3><b>Annotation:</b></h3>
    </div>
    <div>
      <ul class="list-group">
        <li class="list-group-item">
          <p>
            <b>Document Quote: </b>
            <i><span th:text="'(...)' + ${annotation.quote} + '(...)'"></span></i>
          </p>
          <p><b>Comment: </b><span th:text="${annotation.text}"></span></p>
          <p><b>Tag: </b><span th:text="${annotation.tag}"></span></p>
        </li>
      </ul>
    </div>
  </div>
  <div class="clearfix element-title">
    <h3>
      <b>Scenarios</b>
      <a class="pull-right" href="#" data-toggle="collapse" data-target="#addScenario" style="font-size: 50%;">(Add new Scenario)</a>
      
    </h3>
    <div class="collapse" id="addScenario">
        <select id="qualityAttributes" class="form-control">
          <option th:each="attr : ${qualityAttributes}" th:text="${attr}"></option>
        </select>
        <input id="scenarioName" type="text" class="form-control" placeholder="Add a name to the Scenario"/>
        <button id="createScenario" type="button" class="btn btn-default" data-dismiss="collapse" disabled="true">Close</button>
      </div>  
  </div>

  <!-- Start of Scenarios -->
  <div class="panel panel-default" th:each="scenario : ${scenarios}">
    <!-- header -->
    <div class="panel-heading">
      <h3 class="panel-title">
        <b>Scenario for <span th:text="${scenario.getQualityAttribute().getName()}"></span></b>
        <div style="float:right;">
          <a href="#" th:id="'removeScenario' + ${scenario.getExternalId()}" style="color: #337ab7; font-size: 80%;">(Remove Scenario)</a>
        </div>  
      </h3>
    </div>
    <div class="panel-body">
      <b>Name: </b><span th:text="${scenario.getIdentifier()}"></span>
      <a th:id="'linkAnnotation'+${scenario.getExternalId()}" href="#" th:if="${!annotData.isConnected()} and ${annotData.isScenarioAnnotation()} and ${annotData.canBeAddedToScenario(scenario)}" style="float:right;">(Link Annotation)</a>
      <a href="#" th:id="'unlinkAnnotation' + ${scenario.getExternalId()}" th:if="${annotData.isConnected()} and ${annotData.belongsToScenario(scenario)}" style="float:right;">(Unlink Annotation)</a>
    </div>
    <script type="text/javascript" th:inline="javascript">
        $("#linkAnnotation"+ /*[[${scenario.getExternalId()}]]*/).click(function(){
          console.log("click");
          var loc = /*[[@{/linkToScenario/} + ${docId} + '/' + ${annotation.id} + '/' + ${scenario.getExternalId()}]]*/;
          console.log(loc);
          $("#elements").load(loc);
        });
        $("#unlinkAnnotation"+ /*[[${scenario.getExternalId()}]]*/).click(function(){
          console.log("click");
          var loc = /*[[@{/unlinkFromScenario/} + ${docId} + '/' + ${annotation.id} + '/' + ${scenario.getExternalId()}]]*/;
          console.log(loc);
          $("#elements").load(loc);
        });
        $("#removeScenario" + /*[[${scenario.getExternalId()}]]*/).click(function(){
          var loc = /*[[@{/removeScenario/} + ${docId}+'/'+${scenario.getExternalId()}+'/'+${annotation.id}]]*/;
          $("#elements").load(loc);
        });
    </script>
    <!-- end of scenario header -->
</div>
</div>

<script type="text/javascript" th:inline="javascript">
$('#scenarioName').bind('keyup', function() {
    if($("#scenarioName").val() != ''){
      $('#createScenario').removeAttr('disabled');
    } 
});
$("#createScenario").click(function(){
  $("#addScenario").collapse('toggle');
  var attr = document.getElementById("qualityAttributes").value;
  var name = encodeURIComponent($("#scenarioName").val());
  console.log(name);
    var loc = /*[[@{/addNewScenario/} + ${docId}+'/'+${annotation.id}+'/']]*/;
    loc+=attr;
    loc+= '/'+name;
  $("#elements").load(loc);

});


</script>