<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Fragments</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
  <section layout:include="@{/headerFragment} :: headerFragment"></section>
  <div class="panel panel-default" style="margin-top: -20px; height: 30px;">
    <div class="panel-body" style="margin-top: -10px;">
      <a href="#" th:href="@{/selectDoc/} + ${docId}">
        <span class="glyphicon glyphicon-arrow-left"></span> 
        Back
      </a>
    </div>
  </div>
  <div class="well" style="margin-top: -20px;">
    <div th:if="${current.getLinked()}" th:with="head=${current.getChainHead()}">
       <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            Fragment Chain including this Annotation:
          </li>
          <li class="list-group-item" th:with="ann=${head.getAnnotationJson()}">
            <p><b>Document Quote: </b><i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i></p>
            <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
            <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
            <a href="#" th:if="${head.getExternalId().equals(current.getExternalId())}">Unlink fragment</a>
          </li>
          <li class="list-group-item" th:each="frag : ${head.getChildren()}" th:with="ann=${frag.getAnnotationJson()}">
            <p><b>Document Quote: </b><i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i></p>
            <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
            <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
            <a href="#" th:href="@{/unlinkFragment/} + ${docId} + '/' + ${current.getExternalId()} + '/' + ${head.getExternalId()}" th:if="${frag.getExternalId().equals(current.getExternalId())}">Unlink fragment</a>
          </li>
        </ul>
    </div>
    <div th:if="${current.getLinked()} == false">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            Fragment to Link:
          </li>
          <li class="list-group-item" th:with="ann=${current.getAnnotationJson()}">
            <p><b>Document Quote: </b><i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i></p>
            <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
            <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
            <p th:if="${ann.getTactic() != null}"><b>Tactic: </b><span th:text=" ${ann.getTactic()}"></span></p>
          </li>
        </ul>

        <!-- handling tactics -->
        <div th:if="${current.getName().contains('Tactic')}">
          <ul class="list-group" th:each="frag : ${frags}" th:if="${!frag.getExternalId().equals(current.getExternalId())} and ${frag.getName().equals(current.getName())} and ${frag.getAnnotationJson().getTactic() != null} and ${frag.getAnnotationJson().getTactic().equals(current.getAnnotationJson().getTactic())}">
            <li class="list-group-item list-group-item-info">
              Fragment Chain:
              <a href="#" th:href="@{/linkFragment/}+ ${docId} +'/' + ${current.getExternalId()} + '/' + ${frag.getExternalId()}" style="float: right;">Link Annotation to this chain</a>
            </li>
            <li class="list-group-item" th:with="ann=${frag.getAnnotationJson()}">
              <p><b>Document Quote: </b><i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i></p>
              <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
              <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
              <p><b>Tactic: </b><span th:text="${ann.tactic}"></span></p>
            </li>
            <li class="list-group-item" th:each="child : ${frag.getChildren()}" th:with="ann=${child.getAnnotationJson()}">
              <p><b>Document Quote: </b><i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i></p>
              <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
              <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
              <p><b>Tactic: </b><span th:text="${ann.tactic}"></span></p>
            </li>
          </ul>
        </div>
        <!-- -->

        <div th:if="${!current.getName().contains('Tactic')}">
          <ul class="list-group" th:each="frag : ${frags}" th:if="${!frag.getExternalId().equals(current.getExternalId())} and ${frag.getName().equals(current.getName())}">
            <li class="list-group-item list-group-item-info">
              Fragment Chain:
              <a href="#" th:href="@{/linkFragment/}+ ${docId} +'/' + ${current.getExternalId()} + '/' + ${frag.getExternalId()}" style="float: right;">Link Annotation to this chain</a>
            </li>
            <li class="list-group-item" th:with="ann=${frag.getAnnotationJson()}">
              <p><b>Document Quote: </b><i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i></p>
              <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
              <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
            </li>
            <li class="list-group-item" th:each="child : ${frag.getChildren()}" th:with="ann=${child.getAnnotationJson()}">
              <p><b>Document Quote: </b><i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i></p>
              <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
              <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
            </li>
          </ul>
        </div>
    </div>

  </div>
  
</body>
</html>