<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="
    background-color: greenyellow;
    height: 50px;
    border: dashed;
">
You are logged in as <span sec:authentication="name"></span>. 
<a href="#" th:href="@{/logout}">Logout</a>
</div>
    <h1>Welcome to SASLearning, <span sec:authentication="name"></span>!</h1>
    <br/>
    <a href="#" th:href="@{/seeDocs}">See Available Documents</a>
    <br/>
    <a sec:authorize="hasRole('TEACHER')" href="#" th:href="@{/manageDocs}">Manage Documents</a>
    <br/>
    <a sec:authorize="hasRole('TEACHER')" href="#" th:href="@{/manageTags}">Manage Tags</a>
</body>
</html>