<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Tags</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
  <section layout:include="@{/headerFragment} :: headerFragment"></section>
  <div class="well">
        <h1>Existant Tags</h1>
       <ul class="list-group">
            <li class="list-group-item" th:each="tag : ${tags}">
              <span th:text="${tag.getTag()}"></span>
              <a th:href="@{/removeTag/} + ${tag.getExternalId()}">(remove)</a>
            </li>
        </ul> 
      <h1>Add new Tag</h1>
      <form action="#" th:action="@{/addTag}" th:object="${newTag}" method="post">
        <p>New Tag: <input type="text" th:field="*{tag}" /></p>
        <p>
            <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
        </p>
      </form>
  </div>
  
</body>
</html>