<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Tags</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
  <section layout:include="@{/headerFragment} :: headerFragment"></section>
	<h1>Existant Tags</h1>
	<section layout:include="@{/tagFragment} :: tagFragment" th:with="tagsList=${tags}"></section>
<h1>Add new Tag</h1>
    <form action="#" th:action="@{/addTag}" th:object="${newTag}" method="post">
    	<p>New Tag: <input type="text" th:field="*{tag}" /></p>
    	<p>Parent: 
    		<select th:field="*{parentId}">
    			<option th:value="${'none'}" th:text="${'--none--'}"></option>
  <option th:each="tag : ${tagFlatList}" 
          th:value="${tag.id}" 
          th:text="${tag.tag}"></option>
</select>
    	</p>
        
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

    </form>
</body>
</html>