<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Tags</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Existant Tags</h1>
	<section layout:include="@{/tagFragment} :: tagFragment" th:with="tagsList=${tags}"></section>
<h1>Add new Tag</h1>
    <form action="#" th:action="@{/addTag}" th:object="${newTag}" method="post">
    	<p>New Tag: <input type="text" th:field="*{tag}" /></p>
    	<p>Parent: 
    		<select th:field="*{parentId}">
    			<option th:value="${'none'}" th:text="${'--none--'}"></option>
  <option th:each="tag : ${tagFlatList}" 
          th:value="${tag.id}" 
          th:text="${tag.tag}"></option>
</select>
    	</p>
        
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

    </form>
</body>
</html>