<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Documents</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Existant Documents</h1>
	<table>
	<tr th:each="doc:${docs}">
		<td th:text="${doc.title}"></td>

		<td><a th:href="@{/removeDoc/} + ${doc.id}">(remove)</a></td>
	</tr>
</table>
<h1>Add new Document</h1>
    <form action="#" th:action="@{/addDoc}" th:object="${newDoc}" method="post">
    	<p>URL to fetch: <input type="text" th:field="*{url}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>