<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="'Module - '+${module.getName()}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="modal fade" id="move">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myLargeModalLabel">Move Annotation</h4>
        </div>
        <div class="modal-body" id="elements">
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
              <span>Loading...</span>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <section layout:include="@{/headerFragment} :: headerFragment"></section>
  <div class="panel panel-default" style="margin-top: -20px; height: 30px;">
    <div class="panel-body" style="margin-top: -10px;">
      <a href="#" th:href="@{/selectDoc/} + ${docId}">
        <span class="glyphicon glyphicon-arrow-left"></span> Back to Document 
      </a>
    </div>
  </div>
  <div class="well" style="margin-top: -20px;">
    <div class="clearfix element-title">
      <!-- Start of Module -->
      <div class="panel panel-default">
        <!-- header -->
        <div class="panel-heading">
          <span class="h4">
            <b>Module: <span th:text="${module.getName()}"></span></b> 
            <a href="" name="Module"></a>
          </span>
          <a href="#" th:href="@{/removeModule/}+${docId}+'/'+${module.getExternalId()}" style="float:right;">
            <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="left" title="Remove Viewtype"></span>
          </a>
        </div>
        <!-- end of header -->
        <div class="panel-body">
          <h4>Views including this Module: </h4>
          <div th:each="v : ${module.getViewSet()}">
          <a href="#"  th:href="@{/viewView/}+${docId}+'/'+${v.getExternalId()}">
            <b th:text="${v.getViewtype() + ', ' + v.getStyle() + ': '}"></b>
            <span th:text="${v.getName()}"></span>
          </a>
          </div>
          <!-- module annotations -->
          <h4>Name</h4>
          <ul class="list-group" style="margin-top:10px">
            <li class="list-group-item" th:each=" ann : ${module.getAnnotationsByTag('Module - Name')}">
              <section layout:include="@{/annotationFragments} :: annotationContentModule" th:with="ann=${ann},docId=${docId},module=${module}"></section>
            </li>
          </ul>
          <h4>Responsibilities</h4>
          <ul class="list-group" style="margin-top:10px">
            <li class="list-group-item" th:each=" ann : ${module.getAnnotationsByTag('Module - Responsibility')}">
              <section layout:include="@{/annotationFragments} :: annotationContentModule" th:with="ann=${ann},docId=${docId},module=${module}"></section>
            </li>
          </ul>
          <h4>Interfaces</h4>
          <ul class="list-group" style="margin-top:10px">
            <li class="list-group-item" th:each=" ann : ${module.getAnnotationsByTag('Module - Interface')}">
              <section layout:include="@{/annotationFragments} :: annotationContentModule" th:with="ann=${ann},docId=${docId},module=${module}"></section>
            </li>
          </ul>
          <h4>Implementation Information</h4>
          <ul class="list-group" style="margin-top:10px">
            <li class="list-group-item" th:each=" ann : ${module.getAnnotationsByTag('Module - Implementation Details')}">
              <section layout:include="@{/annotationFragments} :: annotationContentModule" th:with="ann=${ann},docId=${docId},module=${module}"></section>
            </li>
          </ul>

          <p>  
          <span class="h4">
            Is-Part-Of:
          </span>
          <a href="" name="isPartOf"></a>
          <a href="#" data-toggle="modal" data-target="#setParentModal" th:if="${module.getParent() == null}"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="right" title="Add Parent"></span></a>
            <section layout:include="@{/setParentModal} :: setParentModal" th:with="modules=${modules},id=${module.getExternalId()},docId=${docId}" th:if="${module.getParent() == null}"></section>
          <div th:if="${module.getParent() != null}" th:with="parent=${module.getParent()}">
            <a href="#" th:href="@{/viewModule/}+${docId}+'/'+${parent.getExternalId()}" th:text="${parent.getName()}"></a>
            <a href="#" th:href="@{/removeModuleParent/}+${docId}+'/'+${module.getExternalId()}+'/'+${parent.getExternalId()}"><small>x</small></a>
          </div>  
          </p>
          <p>
          <span class="h4">Uses: </span>
          <a href="" name="uses"></a>
          <a href="#" data-toggle="modal" data-target="#setUsesModal">
            <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="right" title="Add Modules"></span>
          </a>
            <section layout:include="@{/setParentModal} :: setUsesModal" th:with="modules=${modules},id=${module},docId=${docId},uses=${uses}"></section>
          <div th:if="${!module.getUsesSet().isEmpty()}" th:each="use : ${module.getUsesSet()}">
            <a href="#" th:href="@{/viewModule/}+${docId}+'/'+${use.getExternalId()}" th:text="${use.getName()}"></a>
            <a href="#" th:href="@{/removeModuleUse/}+${docId}+'/'+${module.getExternalId()}+'/'+${use.getExternalId()}"><small>x</small></a>
          </div>
          </p>
          <p>
          <span class="h4">Is A: </span>
          <a href="" name="isA"></a>
          <a href="#" data-toggle="modal" data-target="#isAModal">
            <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="right" title="Add Modules"></span>
          </a>
            <section layout:include="@{/setParentModal} :: setIsAModal" th:with="modules=${modules},id=${module},docId=${docId},uses=${uses}"></section>
          <div th:if="${!module.getIsASet().isEmpty()}" th:each="isA : ${module.getIsASet()}">
            <a href="#" th:href="@{/viewModule/}+${docId}+'/'+${isA.getExternalId()}" th:text="${isA.getName()}"></a>
            <a href="#" th:href="@{/removeModuleIsA/}+${docId}+'/'+${module.getExternalId()}+'/'+${isA.getExternalId()}"><small>x</small></a>
          </div>  
          </p>
          <p>
          <span class="h4">Crosscuts: </span>
          <a href="" name="crosscuts"></a>
          <a href="#" data-toggle="modal" data-target="#setCrosscutsModal">
            <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="right" title="Add Modules"></span>
          </a>
            <section layout:include="@{/setParentModal} :: setCrossCutsModal" th:with="modules=${modules},id=${module},docId=${docId},uses=${uses}"></section>
          <div th:if="${!module.getCrossCutsSet().isEmpty()}" th:each="crosscut : ${module.getCrossCutsSet()}">
            <a href="#" th:href="@{/viewModule/}+${docId}+'/'+${crosscut.getExternalId()}" th:text="${crosscut.getName()}"></a>
            <a href="#" th:href="@{/removeModuleCrossCut/}+${docId}+'/'+${module.getExternalId()}+'/'+${crosscut.getExternalId()}"><small>x</small></a>
          </div>
          </p>
          <p>
            <span class="h4">One-To-One: </span>
          <a href="" name="oneToOne"></a>
          <a href="#" data-toggle="modal" data-target="#oneToOneModal">
            <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="right" title="Add Modules"></span>
          </a>
            <section layout:include="@{/setParentModal} :: setOneToOneModal" th:with="modules=${modules},id=${module},docId=${docId},uses=${uses}"></section>
          <div th:if="${!module.getOneToOneSet().isEmpty()}" th:each="oneToOne : ${module.getOneToOneSet()}">
            <a href="#" th:href="@{/viewModule/}+${docId}+'/'+${oneToOne.getExternalId()}" th:text="${oneToOne.getName()}"></a>
            <a href="#" th:href="@{/removeModuleOneToOne/}+${docId}+'/'+${module.getExternalId()}+'/'+${oneToOne.getExternalId()}"><small>x</small></a>
          </div>
          </p>
          <p>
          <span class="h4">One-To-Many: </span>
          <a href="" name="oneToMany"></a>
          <a href="#" data-toggle="modal" data-target="#oneToManyModal">
            <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="right" title="Add Modules"></span>
          </a>
            <section layout:include="@{/setParentModal} :: setOneToManyModal" th:with="modules=${modules},id=${module},docId=${docId},uses=${uses}"></section>
          <div th:if="${!module.getOneToManySet().isEmpty()}" th:each="oneToMany : ${module.getOneToManySet()}">
            <a href="#" th:href="@{/viewModule/}+${docId}+'/'+${oneToMany.getExternalId()}" th:text="${oneToMany.getName()}"></a>
            <a href="#" th:href="@{/removeModuleOneToMany/}+${docId}+'/'+${module.getExternalId()}+'/'+${oneToMany.getExternalId()}"><small>x</small></a>
          </div>
          </p>
          <p>
          <span class="h4">Many-To-Many: </span>
          <a href="" name="manyToMany"></a>
          <a href="#" data-toggle="modal" data-target="#manyToManyModal">
            <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="right" title="Add Modules"></span> 
          </a>
            <section layout:include="@{/setParentModal} :: setManyToManyModal" th:with="modules=${modules},id=${module},docId=${docId},uses=${uses}"></section>
          <div th:if="${!module.getManyToManySet().isEmpty()}" th:each="manyToMany : ${module.getManyToManySet()}">
            <a href="#" th:href="@{/viewModule/}+${docId}+'/'+${manyToMany.getExternalId()}" th:text="${manyToMany.getName()}"></a>
            <a href="#" th:href="@{/removeModuleManyToMany/}+${docId}+'/'+${module.getExternalId()}+'/'+${manyToMany.getExternalId()}"><small>x</small></a>
          </div>
          </p>
          <p>
          <span class="h4">Aggregates: </span>
          <a href="" name="aggregated"></a>
          <a href="#" data-toggle="modal" data-target="#aggregatesModal">
            <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="right" title="Add Modules"></span>
          </a>
            <section layout:include="@{/setParentModal} :: setAggregatesModal" th:with="modules=${modules},id=${module},docId=${docId},uses=${uses}"></section>
          <div th:if="${!module.getAggregatedSet().isEmpty()}" th:each="aggregated : ${module.getAggregatedSet()}">
            <a href="#" th:href="@{/viewModule/}+${docId}+'/'+${aggregated.getExternalId()}" th:text="${aggregated.getName()}"></a>
            <a href="#" th:href="@{/removeModuleAggregated/}+${docId}+'/'+${module.getExternalId()}+'/'+${aggregated.getExternalId()}"><small>x</small></a>
          </div>
          </p>
          <div style="margin-top: 20px; border-top: 1px solid #DDDDDD;">
            <ul class="list-group" style="margin-top:10px">
              <li class="list-group-item" th:each=" ann : ${module.getAnnotationsByTag('Module')}">
                <section layout:include="@{/annotationFragments} :: annotationContentModule" th:with="ann=${ann},docId=${docId},module=${module}"></section>
              </li>
            </ul>
          </div>
          
          <section layout:include="@{/annotationFragments} :: moduleText" th:with="module=${module},docId=${docId}"></section>
          
          <!-- -->
          <!-- end tactics-->
        </div>
      </div>
    </div>
  </div>
  <!--</div>-->
  <script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip(
)  });
  </script>
  <style type="text/css">
  .element-title{
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #C8C8C8;
  }

  </style>
</body>
</html>