<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title> Module</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="modal fade" id="move">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myLargeModalLabel">Move Annotation</h4>
        </div>
        <div class="modal-body" id="elements">
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
              <span>Loading...</span>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <section layout:include="@{/headerFragment} :: headerFragment"></section>
  <div class="panel panel-default" style="margin-top: -20px; height: 30px;">
    <div class="panel-body" style="margin-top: -10px;">
      <a href="#" th:href="@{/selectDoc/} + ${docId}">
        <span class="glyphicon glyphicon-arrow-left"></span> Back
      </a>
    </div>
  </div>
  <div class="well" style="margin-top: -20px;">
    <div class="clearfix element-title">
      <!-- Start of Scenarios -->
      <div class="panel panel-default">
        <!-- header -->
        <div class="panel-heading">
          <span class="h4">
            <b>Module Viewtype: <span th:text="${module.getIdentifier()}"></span></b> 
            <a href="" name="ModuleViewtype"></a>
          </span>
          <a href="#" th:href="@{/removeModule/}+${docId}+'/'+${module.getExternalId()}" style="float:right;">
            <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="left" title="Remove Viewtype"></span>
          </a>
        </div>
        <!-- end of scenario header -->
        <div class="panel-body">
          <!-- scenario annotations -->
          <div>
            <ul class="list-group" style="margin-top:10px">
              <li class="list-group-item" th:each=" ann : ${module.getJsonAnnotations()}" th:if="${ann.tag.equals('Module ViewType Description')}">
                <a href="" th:name="${ann.id}"></a>
                <p style="float:right;margin-left: 10px;">
                  <a href="#" th:href="@{/unlinkFromModuleViewtype/}+${docId}+'/'+${ann.id}+'/'+${module.getExternalId()}">
                    <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Remove Annotation"></span>
                  </a>
                  <a th:id="'moveAnnotation'+${ann.id}" data-toggle="modal" data-target="#move" href="#">
                    <span class="glyphicon glyphicon-retweet" data-toggle="tooltip" data-placement="bottom" title="Move annotation to other viewtype"></span>
                  </a>

                </p>  
                <p>
                  <b>Document Quote: </b>
                  <i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
                </p>
                <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
                <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
                <script type="text/javascript" th:inline="javascript">
                $("#moveAnnotation"+/*[[${ann.id}]]*/).click(function(){
                  console.log("click");
                  var loc = /*[[@{/moveAnnotationModule/}+${docId}+'/'+${ann.id}]]*/;
                  console.log(loc);
                  $("#elements").load(loc);
                });
                </script>
              </li>
            </ul>
          </div>
          <div id="EditText">
            <a th:id="'showEditor'+${module.getExternalId()}" href="#toggleEditor" data-toggle="collapse" th:attr="data-target=${'#editorCollapse'+module.getExternalId()}">
              <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="right" title="" data-original-title="Add/Edit Text"></span>
            </a>
            <div th:id="'textViewer'+${module.getExternalId()}" th:text="${module.getText()}" style="border-style: solid; border-width: 1px; border-color: #DEDEDE; padding: 5px; border-radius: 4px;" th:if="${module.getText() != null} and ${!module.getText().equals('')}"></div>
            <div class="collapse" th:id="'editorCollapse'+${module.getExternalId()}" style="border-style: solid; border-width: 1px; border-color: #DEDEDE; padding: 5px; border-radius: 4px;">
              <textarea class="form-control" th:id="'text'+${module.getExternalId()}" th:text="${module.getText()}" style="margin-bottom:10px;"></textarea>
              <button th:id="'submitText'+${module.getExternalId()}" class="btn btn-default" type="submit">Submit</button>
            </div>
          </div>

          <script type="text/javascript" th:inline="javascript">

          $("#submitText"+/*[[${module.getExternalId()}]]*/).click(function(){
            var elemtext = document.getElementById("text"+/*[[${module.getExternalId()}]]*/).value;
            var loc = /*[[@{/setModuleText/} + ${docId} + '/'+${module.getExternalId()}]]*/;
            var content = {text: elemtext}
            $.ajax(loc,{
              method: "POST",
              data: content
            }).done(function(data, textStatus, jqXHR){
              console.log(data);
              console.log(textStatus);
              console.log(jqXHR);
              //window.location.hash="#";
              window.location.reload(true);
            });
          });
          </script>

          <!-- -->
          <!--   Modules  -->
          <div class="element-title">
            <p>
              <span class="h4">
                <b>Modules:</b>
                <a href="" name="Modules"></a>
              </span>
              <a href="#" data-toggle="collapse" data-target="#addModule" style="float:right;">
                <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="Add a new Module"></span>
              </a>
              <div class="collapse" id="addModule">
                <div style="margin-bottom: 5px;"><b>Module's Name:</b></div>
                <input id="moduleName" type="text" class="form-control" placeholder="Add a name to the Module"/>
                <button id="createModule" type="button" class="btn btn-default" data-dismiss="collapse" disabled="true">Create</button>

                <script type="text/javascript" th:inline="javascript">
                $('#moduleName').bind('keyup', function() {
                  if($("#moduleName").val() != ''){
                    $('#createModule').removeAttr('disabled');
                  }else{
                    $('#createModule').attr('disabled', 'true');
                  }
                });

                $("#createModule").click(function(){
                  $("#addModule").collapse('toggle');
                  var name = encodeURIComponent($("#moduleName").val());
                  var loc = /*[[@{/addNewModule/} + ${docId}+'/'+${module.getExternalId()}+'/']]*/;
                  loc+=name;
                  $.ajax(loc).done(function(data, textStatus, jqXHR){
                    window.location.hash="#Modules";
                    window.location.reload(true);
                  });
                });


                </script>
              </div>
            </p>
          </div>
          <div>
            <ul class="list-group" style="margin-top:10px" th:each=" ann : ${module.getJsonAnnotations()}" th:if="${ann.tag.equals('Module')}">
              <li class="list-group-item">
                <a href="" th:name="${ann.id}"></a>
                <p style="float:right;margin-left: 10px;"><a href="#" th:href="@{/unlinkFromModule/}+${docId}+'/'+${ann.id}+'/'+${module.getExternalId()}"><span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Remove Annotation"></span></a>
                  <a th:id="'moveAnnotation'+${ann.id}" data-toggle="modal" data-target="#move" href="#">
                    <span class="glyphicon glyphicon-retweet" data-toggle="tooltip" data-placement="bottom" title="Move annotation to other scenario"></span>
                  </a>

                  <a href="#" data-toggle="modal" data-target="#linkToModule">
                    <span class="glyphicon glyphicon-share-alt" data-toggle="tooltip" data-placement="bottom" title="Add Annotation to a specific Module"></span>
                  </a>
                  <!---->
                  <div class="modal fade" id="linkToModule">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content" >
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                          </button>
                          <h4 class="modal-title">Modules</h4>
                        </div>
                        <div class="modal-body" id="elements">
                          <ul class="list-group">
                            <li class="list-group-item" th:each="module : ${module.getModuleSet()}">
                              <span th:text="${module.getName()}"></span>
                              <a href="#" th:href="@{/linkToModule/}+${docId}+'/'+${module.getExternalId()}+'/'+${module.getExternalId()}+'/'+ ${ann.id}">select</a>

                            </li>
                          </ul>
                        </div>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div>
                  <!---->
                </p>
                <script type="text/javascript" th:inline="javascript">
                $("#moveAnnotation"+/*[[${ann.id}]]*/).click(function(){
                  var loc = /*[[@{/moveAnnotationMVT/}+${docId}+'/'+${ann.id}]]*/;
                  $("#elements").load(loc);
                });
                </script>

                <p>
                  <b>Document Quote: </b>
                  <i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
                </p>
                <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
                <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
              </li>
            </ul>
          </div>
          <!-- tactic annotations -->
          <div th:if="${!module.getModuleSet().isEmpty()}">
            <div th:each="module : ${module.getModuleSet()}">
              <b>
                <span th:text="'- '+${module.getName()}" style="font-size:17px;">
                </span>
                <a href="" th:name="${module.getName()}"></a>
              </b>
              <a href="#" th:href="@{/removeModule/}+${docId}+'/'+${module.getExternalId()}+'/'+${module.getExternalId()}" style="float:right;">
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="Delete Module"></span>
              </a>
              <ul class="list-group">
                <li class="list-group-item" th:each="ann : ${module.getJsonAnnotations()}">
                  <a href="" th:name="${ann.id}"></a>
                  <p style="float:right;margin-left: 10px;">
                    <a href="#" th:href="@{/unlinkFromModule/}+${docId}+'/'+${module.getExternalId()}+'/'+${module.getExternalId()} + '/' + ${ann.id}">
                      <span class="glyphicon glyphicon-share-alt" data-toggle="tooltip" data-placement="bottom" title="Remove annotation from this tactic"></span></a>
                    </p>
                    <p style="float:right;margin-left: 10px;"><a href="#" th:href="@{/unlinkFromModule/}+${docId}+'/'+${ann.id}+'/'+${module.getExternalId()}">
                      <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Remove Annotation from Module"></span></a>
                      <a th:id="'moveAnnotation'+${ann.id}" data-toggle="modal" data-target="#move" href="#">
                        <span class="glyphicon glyphicon-retweet" data-toggle="tooltip" data-placement="bottom" title="Move annotation to other module"></span>
                      </a>
                    </p>
                    <p>
                      <b>Document Quote: </b>
                      <i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
                    </p>
                    <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
                    <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
                    <script type="text/javascript" th:inline="javascript">
                    $("#moveAnnotation"+/*[[${ann.id}]]*/).click(function(){
                  var loc = /*[[@{/moveAnnotationMVT/}+${docId}+'/'+${ann.id}]]*/;
                  $("#elements").load(loc);
                });
                    </script>
                  </li>
                </ul>

                <div id="EditText">
                  <a th:id="'showEditor'+${module.getExternalId()}" href="#toggleEditor" data-toggle="collapse" th:attr="data-target=${'#editorCollapse'+module.getExternalId()}">
                    <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="right" title="" data-original-title="Add/Edit Text"></span>
                  </a>
                  <div th:id="'textViewer'+${module.getExternalId()}" th:text="${module.getText()}" style="border-style: solid; border-width: 1px; border-color: #DEDEDE; padding: 5px; border-radius: 4px;" th:if="${module.getText() != null} and ${!module.getText().equals('')}"></div>
                  <div class="collapse" th:id="'editorCollapse'+${module.getExternalId()}" style="border-style: solid; border-width: 1px; border-color: #DEDEDE; padding: 5px; border-radius: 4px;">
                    <textarea class="form-control" th:id="'text'+${module.getExternalId()}" th:text="${module.getText()}" style="margin-bottom:10px;"></textarea>
                    <button th:id="'submitText'+${module.getExternalId()}" class="btn btn-default" type="submit">Submit</button>
                  </div>
                </div>

                <script type="text/javascript" th:inline="javascript">
                $("#submitText"+/*[[${module.getExternalId()}]]*/).click(function(){
                  var elemtext = document.getElementById("text"+/*[[${module.getExternalId()}]]*/).value;
                  var loc = /*[[@{/setModuleText/} + ${docId} + '/'+${module.getExternalId()}+'/'+${module.getExternalId()}]]*/;
                  var content = {text: elemtext}
                  $.ajax(loc,{
                    method: "POST",
                    data: content
                  }).done(function(data, textStatus, jqXHR){
                    window.location.hash="#"+/*[[${module.getName()}]]*/;
                    window.location.reload(true);
                  });
                });
                </script>
              </div>
            </div>
            <!-- -->
            <!-- end tactics-->
          </div>
        </div>
      </div>
    </div>
    <!--</div>-->
    <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
    </script>
    <style type="text/css">
    .element-title{
      margin-top: 20px;
      margin-bottom: 10px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #C8C8C8;
    }

    </style>
  </body>
  </html>