<div id="templateContents" class="well">
  <div class="annotation">
    <div class="element-title">
      <h3><b>Annotation:</b></h3>
    </div>
    <div>
      <ul class="list-group">
        <li class="list-group-item">
          <p>
            <b>Document Quote: </b>
            <i><span th:text="'(...)' + ${annotation.quote} + '(...)'"></span></i>
          </p>
          <p><b>Comment: </b><span th:text="${annotation.text}"></span></p>
          <p><b>Tag: </b><span th:text="${annotation.tag}"></span></p>
        </li>
      </ul>
    </div>
  </div>
  <div class="clearfix element-title">
    <h3>
      <b>Modules</b>
      <a class="pull-right" href="#" data-toggle="collapse" data-target="#addModule" style="font-size: 50%;">(Add new Module)</a>
      
    </h3>
    <div class="collapse" id="addModule">
      <div style="margin-bottom: 5px;"><b>Module Name:</b></div>
      <input id="moduleName" type="text" class="form-control" placeholder="Set Module name"/>
      <button id="createModule" type="button" class="btn btn-default" data-dismiss="collapse" disabled="true">Add Module</button>
    </div>  
  </div>

  <!-- Start of Modules -->
  <div class="panel panel-default" th:each="mod : ${modules}" th:if="${!mod.getExternalId().equals(annotData.getModule().getExternalId())}">
    <div class="panel-body" style="font-size:115%;">
      <b class="h4">Module: </b> <span th:text="${mod.getIdentifier()}"></span>
      <a href="#" style="float:right;" th:href="@{/moveToModule/} + ${docId} + '/' + ${annotation.id} + '/' + ${mod.getExternalId()}">(Move annotation to this Module)</a>
    </div>
  </div>
</div>


<script type="text/javascript" th:inline="javascript">
$('#viewtypeName').bind('keyup', function() {
  if($("#moduleName").val() != ''){
    $('#createModule').removeAttr('disabled');
  }else{
    $('#createModule').attr('disabled', 'true');
  }
});
$("#createModule").click(function(){
  $("#addModule").collapse('toggle');
  var name = encodeURIComponent($("#moduleName").val());
  var loc = /*[[@{/addNewModule/} + ${docId}+'/'+${annotation.id}+'/']]*/;
  loc+= name+"?move=yes";
  $("#elements").load(loc);

});


</script>
<style type="text/css">
#addModule {
  border: 1px dashed;
  padding: 10px; 
  border-radius: 10px;
  margin-bottom: 10px;
  border-color: rgb(166, 162, 162);
}

.element-title {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  margin-bottom: 10px;
}

.list-title{
  background-color: rgb(233, 229, 229);
}
</style>