<html>
	<section layout:fragment="scenarioElement">
	   <div th:if="${elem} != null"> 
	    <span th:text="${elem.getName()} + ${elem.getExternalId()}"></span>
	    <a href="#" th:href="@{/elementManager/} + ${docId} + '/' + ${elem.getExternalId()}">(Link/Unlink Annotations)</a><a href="#" th:href="@{/removeScenarioElement/}+ ${docId} + '/' + ${elem.getExternalId()}">(Remove)</a>
	    <ul class="list-group">
	      <li class="list-group-item list-group-item-info">
	        <b>Annotations:</b>
	      </li>
	      <li class="list-group-item" th:each="srcAnn : ${elem.getAnnotations()}">
	        <p><i><span th:text="'(...)' + ${srcAnn.getQuoteIntro()} + '(...)'"></span></i></p>
	        <p><b>Comment: </b><span th:text="${srcAnn.text}"></span></p>
	      </li>
	    </ul>    
	  </div> 
	</section>
</html>