<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <title>Annotation Context</title>
</head>

<body>
<div class="panel panel-default" style="
    margin-left: 33%;
    width: 33%;
    margin-top: 100px;
">
  <div class="panel-heading">
    <h3 class="panel-title"><b>Scenario Manager</b></h3>
  </div>
  <div class="panel-body">
  <div class="well well-lg">
    <a href="#">Create new Scenario</a>
  </div>
</div>
</div>
 
</body>
</html>