<html>
	<section layout:fragment="scenarioElement">
		<div>
			<div class="element-title">
				<h4><b><span th:text="${name}">Default</span></b></h4>
				<a href="#" th:if="${annotation != null} and ${elem != null} and ${annotation.tag.equals(name)}" th:href="@{/linkAnnotationToScenElement/} + ${docId} + '/'+${annotation.id}+'/'+${elem.getExternalId()}" > Link Annotation</a>
			</div>
			Ipsis verbis el pluribus unum
			<div th:if="${elem != null}">
				<ul class="list-group" style="margin-top:10px" th:each=" ann : ${elem.getJsonAnnotations()}">
					<li class="list-group-item">
						<p>
	                		<b>Document Quote: </b>
	                		<i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
	              		</p>
	              		<p><b>Comment: </b><span th:text="${ann.text}"></span></p>
	              		<p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
            		</li>
          		</ul>
			</div>
        </div>
	</section>
</html>