<html>
<section layout:fragment="setParentModal">
	<div class="modal fade" id="setParentModal">
		<div class="modal-dialog">
			<div class="modal-content" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myLargeModalLabel">Set Module Parent</h4>
				</div>
				<div class="modal-body" id="elements">
					<div th:each="module : ${modules}" th:if="${!module.getExternalId().equals(id)}">
						<span th:text="${module.getName()}"></span>
						<a href="#" th:href="@{/setModuleParent/}+${docId}+'/'+${id}+'/'+${module.getExternalId()}"> select</a>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /.modal-content -->
</section>
<section layout:fragment="setUsesModal">
	<div class="modal fade" id="setUsesModal">
		<div class="modal-dialog">
			<div class="modal-content" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myLargeModalLabel">Select Modules to use:</h4>
				</div>
				<div class="modal-body" id="elements">
					<form action="#" th:action="@{/setModuleUses/}+${docId}+'/'+${id.getExternalId()}" method="post">
						<ul>
							<li th:each="module : ${modules}" th:if="${!module.getExternalId().equals(id.getExternalId())} and ${!module.getUsesSet().contains(id)} and ${!id.getUsesSet().contains(module)}" method="post" th:object="${uses}">
								<input type="checkbox" th:field="*{used}" th:value="${module.getExternalId()}"></input>
								<label th:text="${module.getName()}"></label>
							</li>
						</ul>
						<input type="submit" value="submit"></input>
						<input type="reset" value="reset"></input>
					</form>
				</div>
			</div>
		</div>
	</div><!-- /.modal-content -->
</section>
<section layout:fragment="setCrossCutsModal">
	<div class="modal fade" id="setCrosscutsModal">
		<div class="modal-dialog">
			<div class="modal-content" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myLargeModalLabel">Select Modules to crosscut:</h4>
				</div>
				<div class="modal-body" id="elements">
					<form action="#" th:action="@{/setModuleCrosscuts/}+${docId}+'/'+${id.getExternalId()}" method="post">
						<ul>
							<li th:each="module : ${modules}" th:if="${!module.getExternalId().equals(id.getExternalId())} and ${!module.getCrossCutsSet().contains(id)} and ${!id.getCrossCutsSet().contains(module)}" method="post" th:object="${uses}">
								<input type="checkbox" th:field="*{used}" th:value="${module.getExternalId()}"></input>
								<label th:text="${module.getName()}"></label>
							</li>
						</ul>
						<input type="submit" value="submit"></input>
						<input type="reset" value="reset"></input>
					</form>
				</div>
			</div>
		</div>
	</div><!-- /.modal-content -->
</section>

<section layout:fragment="setIsAModal">
	<div class="modal fade" id="isAModal">
		<div class="modal-dialog">
			<div class="modal-content" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myLargeModalLabel">Select Modules to crosscut:</h4>
				</div>
				<div class="modal-body" id="elements">
					<form action="#" th:action="@{/setModuleIsA/}+${docId}+'/'+${id.getExternalId()}" method="post">
						<ul>
							<li th:each="module : ${modules}" th:if="${!module.getExternalId().equals(id.getExternalId())} and ${!module.getIsASet().contains(id)} and ${!id.getIsASet().contains(module)}" method="post" th:object="${uses}">
								<input type="checkbox" th:field="*{used}" th:value="${module.getExternalId()}"></input>
								<label th:text="${module.getName()}"></label>
							</li>
						</ul>
						<input type="submit" value="submit"></input>
						<input type="reset" value="reset"></input>
					</form>
				</div>
			</div>
		</div>
	</div><!-- /.modal-content -->
</section>

<section layout:fragment="setOneToOneModal">
	<div class="modal fade" id="oneToOneModal">
		<div class="modal-dialog">
			<div class="modal-content" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myLargeModalLabel">Select Modules related one-to-one:</h4>
				</div>
				<div class="modal-body" id="elements">
					<form action="#" th:action="@{/setModuleOneToOne/}+${docId}+'/'+${id.getExternalId()}" method="post">
						<ul>
							<li th:each="module : ${modules}" th:if="${!module.getExternalId().equals(id.getExternalId())} and ${!module.getOneToOneSet().contains(id)}" method="post" th:object="${uses}">
								<input type="checkbox" th:field="*{used}" th:value="${module.getExternalId()}"></input>
								<label th:text="${module.getName()}"></label>
							</li>
						</ul>
						<input type="submit" value="submit"></input>
						<input type="reset" value="reset"></input>
					</form>
				</div>
			</div>
		</div>
	</div><!-- /.modal-content -->
</section>
<section layout:fragment="setOneToManyModal">
	<div class="modal fade" id="oneToManyModal">
		<div class="modal-dialog">
			<div class="modal-content" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myLargeModalLabel">Select Modules related one-to-many:</h4>
				</div>
				<div class="modal-body" id="elements">
					<form action="#" th:action="@{/setModuleOneToMany/}+${docId}+'/'+${id.getExternalId()}" method="post">
						<ul>
							<li th:each="module : ${modules}" th:if="${!module.getExternalId().equals(id.getExternalId())} and ${!module.getOneToManySet().contains(id)}" method="post" th:object="${uses}">
								<input type="checkbox" th:field="*{used}" th:value="${module.getExternalId()}"></input>
								<label th:text="${module.getName()}"></label>
							</li>
						</ul>
						<input type="submit" value="submit"></input>
						<input type="reset" value="reset"></input>
					</form>
				</div>
			</div>
		</div>
	</div><!-- /.modal-content -->
</section>

<section layout:fragment="setManyToManyModal">
	<div class="modal fade" id="manyToManyModal">
		<div class="modal-dialog">
			<div class="modal-content" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myLargeModalLabel">Select Modules related many-to-many:</h4>
				</div>
				<div class="modal-body" id="elements">
					<form action="#" th:action="@{/setModuleManyToMany/}+${docId}+'/'+${id.getExternalId()}" method="post">
						<ul>
							<li th:each="module : ${modules}" th:if="${!module.getExternalId().equals(id.getExternalId())} and ${!module.getManyToManySet().contains(id)}" method="post" th:object="${uses}">
								<input type="checkbox" th:field="*{used}" th:value="${module.getExternalId()}"></input>
								<label th:text="${module.getName()}"></label>
							</li>
						</ul>
						<input type="submit" value="submit"></input>
						<input type="reset" value="reset"></input>
					</form>
				</div>
			</div>
		</div>
	</div><!-- /.modal-content -->
</section>

<section layout:fragment="setAggregatesModal">
	<div class="modal fade" id="aggregatesModal">
		<div class="modal-dialog">
			<div class="modal-content" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myLargeModalLabel">Select Modules aggregated by this one:</h4>
				</div>
				<div class="modal-body" id="elements">
					<form action="#" th:action="@{/setModuleAggregated/}+${docId}+'/'+${id.getExternalId()}" method="post">
						<ul>
							<li th:each="module : ${modules}" th:if="${!module.getExternalId().equals(id.getExternalId())} and ${!module.getAggregatedSet().contains(id)}" method="post" th:object="${uses}">
								<input type="checkbox" th:field="*{used}" th:value="${module.getExternalId()}"></input>
								<label th:text="${module.getName()}"></label>
							</li>
						</ul>
						<input type="submit" value="submit"></input>
						<input type="reset" value="reset"></input>
					</form>
				</div>
			</div>
		</div>
	</div><!-- /.modal-content -->
</section>
</html>