<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="'Structured Representation - ' + ${title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
  <section layout:include="@{/headerFragment} :: headerFragment"></section>
  <div class="panel panel-default" style="margin-top: -20px; height: 30px;">
    <div class="panel-body" style="margin-top: -10px;">
      <a href="#" th:href="@{/selectDoc/} + ${docId}">
        <span class="glyphicon glyphicon-arrow-left"></span> Back
      </a>
    </div>
  </div>
  <div class="well" style="margin-top: -20px;">
    <div class="clearfix element-title">
      <!-- Start of Scenarios -->
      <div class="panel panel-default" th:each="scenario : ${scenarios}">
        <!-- header -->
        <div class="panel-heading">
          <span class="h4">
            <b>Scenario: <span th:text="${scenario.getIdentifier()}"></span></b> 
            <a href="" name="Scenario"></a>
          </span>
        </div>
        <!-- end of scenario header -->
        <div class="panel-body">
          <!-- scenario annotations -->
          <div>
            <ul class="list-group" style="margin-top:10px">
              <li class="list-group-item" th:each=" ann : ${scenario.getJsonAnnotations()}" th:if="${ann.tag.equals('Scenario Description')}">
                <a href="" th:name="${ann.id}">
                </a>
                <p>
                    <b>Document Quote: </b>
                    <i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
                  </p>
                  <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
                  <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
                </li>
              </ul>
            </div>
            <!-- -->
            <!-- scenario Elements -->
            <div class="scenarioElements">
              <div th:each="entry : ${scenario.getElements()}">
                <div th:with="name=${entry.getKey()},elem=${entry.getValue()}">
                  <div class="element-title">
                    <h4>
                      <b><span th:text="${name}"></span></b>
                    </h4>
                    <a href="" th:name="${name}"></a>
                  </div>
                  <div th:if="${elem != null}">
                    <ul class="list-group" style="margin-top:10px" th:each=" ann : ${elem.getJsonAnnotations()}">
                      <li class="list-group-item">
                        <a href="" th:name="${ann.id}"></a> 
                        <p>
                          <b>Document Quote: </b>
                          <i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
                        </p>
                        <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
                        <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- -->
              <!--   Tactics  -->
              <div class="element-title">
                <p>
                  <span class="h4">
                    <b>Tactics:</b>
                    <a href="" name="Tactics"></a>
                  </span>
                </p>
              </div>
              <div>
                <ul class="list-group" style="margin-top:10px" th:each=" ann : ${scenario.getJsonAnnotations()}" th:if="${ann.tag.equals('Tactic')}">
                  <li class="list-group-item">
                    <a href="" th:name="${ann.id}"></a>
                    <p>
                      <b>Document Quote: </b>
                      <i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
                    </p>
                    <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
                    <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
                  </li>
                </ul>
              </div>
              <!-- tactic annotations -->
              <div th:if="${!scenario.getTacticSet().isEmpty()}">
                <div th:each="tactic : ${scenario.getTacticSet()}">
                  <b>
                    <span th:text="'- '+${tactic.getName()}" style="font-size:17px;">
                    </span>
                  </b>
                  <ul class="list-group">
                    <li class="list-group-item" th:each="ann : ${tactic.getJsonAnnotations()}">
                      <a href="" th:name="${ann.id}"></a>
                      <p>
                        <b>Document Quote: </b>
                        <i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
                      </p>
                      <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
                      <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- -->
              <!-- end tactics-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <style type="text/css">
    .element-title{
      margin-top: 20px;
      margin-bottom: 10px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #C8C8C8;
    }

    </style>

  </body>
  </html>