<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Manage Fragments</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<section layout:include="@{/headerFragment} :: headerFragment"></section>
	<div class="panel panel-default" style="margin-top: -20px; height: 30px;">
		<div class="panel-body" style="margin-top: -10px;">
	  		<a href="#" th:href="@{/selectDoc/} + ${docId}">
	  			<span class="glyphicon glyphicon-arrow-left"></span> Back
	  		</a>
	  	</div>
	  </div>
	  <div class="well" style="margin-top: -20px;">
      <div class="annotation">
        <div class="element-title">
          <h3 th:if="${!annotData.isConnected()}"><b>Annotation to add:</b></h3>
          <h3 th:if="${annotData.isConnected()}"><b>About this annotation:</b>
            <small><a th:href="'#' + ${annotData.getExternalId()}">See Annotation in the template</a></small>
          </h3>
        </div>
        <div>
          <ul class="list-group">
            <li class="list-group-item">
              <p>
                <b>Document Quote: </b>
                <i><span th:text="'(...)' + ${annotation.quote} + '(...)'"></span></i>
              </p>
              <p><b>Comment: </b><span th:text="${annotation.text}"></span></p>
              <p><b>Tag: </b><span th:text="${annotation.tag}"></span></p>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="clearfix element-title">
        <h3>
          <b>Scenarios</b>
          <a class="pull-right" href="#" th:href="@{/addNewScenario/} + ${docId}+'/'+${annotation.id}" style="font-size: 50%; padding-top:15px;">(Add new Scenario)</a>
        </h3>
        
      </div>
	  	<div class="panel panel-default" th:each="scenario : ${scenarios}">
	  		<div class="panel-heading">
          <h3 class="panel-title">
            <b>Scenario for <!--<span th:text="${scenario.getQualityAttribute().getName()}"></span>--></b>
            <a href="#" th:href="@{/removeScenario/} + ${docId}+'/'+${scenario.getExternalId()}+'/'+${annotation.id}">Remove</a>
          </h3>
          <a href="#" th:href="@{/linkAnnotationToScenario/}+${docId}+'/'+${annotation.id}+'/'+${scenario.getExternalId()}" th:if="${annotation.tag.equals('Scenario')} and ${!annotData.isConnected()}">Link Annotation</a>
        </div>
        <div class="panel-body">
        	<div>
        		<a href="#">edit text</a>
        		<ul class="list-group" style="margin-top:10px">
        			<li class="list-group-item" th:each=" ann : ${scenario.getJsonAnnotations()}">
                <a href="" th:name="${ann.id}"></a>
                <a href="#" th:href="@{/removeAnnotationFromScenario/}+${docId}+'/'+${ann.id}+'/'+${scenario.getExternalId()}" style="float:right;" >(Remove)</a>
        				<p>
        					<b>Document Quote: </b>
        					<i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
        				</p>
                  	<p><b>Comment: </b><span th:text="${ann.text}"></span></p>
                  	<p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
                	</li>
        		</ul>
        	</div>
          <div class="scenarioElements">
        		<div >
        			<div class="element-title">
        				<h4><b>Quality Attribute</b></h4>
        			</div>
        		</div>
            <div th:each="entry : ${scenario.getElements()}">
              <div th:with="name=${entry.getKey()},elem=${entry.getValue()}">
                <div>
                  <div class="element-title">
                    <h4><b><span th:text="${name}"></span></b></h4>
                    <a href="#" th:if="${annotation != null} and ${elem != null} and ${annotation.tag.equals(name)} and ${!annotData.isConnected()}" th:href="@{/linkAnnotationToScenElement/} + ${docId} + '/'+${annotation.id}+'/'+${elem.getExternalId()}" > Link Annotation</a>
                  </div>
                  Ipsis verbis el pluribus unum
                  <div th:if="${elem != null}">
                    <ul class="list-group" style="margin-top:10px" th:each=" ann : ${elem.getJsonAnnotations()}">
                      <li class="list-group-item">
                        <a href="" th:name="${ann.id}"></a>
                        <a href="#" th:href="@{/removeAnnotationFromScenarioElement/}+${docId}+'/'+${ann.id}+'/'+${elem.getExternalId()}" style="float:right;">(Remove)</a>
                        <p>
                          <b>Document Quote: </b>
                          <i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
                        </p>
                        <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
                        <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!--<div th:with="name='Stimulus',elem=${scenario.getStimulus()},annotation=${annotation}">
              <div class="element-title">
                <h4><b><span th:text="${name}">Default</span></b></h4>
                <a href="#" th:if="${annotation != null} and ${elem != null} and ${annotation.tag.equals(name)} and ${!annotation.isConnected()}" th:href="@{/linkAnnotationToScenElement/} + ${docId} + '/'+${annotation.id}+'/'+${elem.getExternalId()}" > Link Annotation</a>
              </div>
              Ipsis verbis el pluribus unum
              <div th:if="${elem != null}">
                <ul class="list-group" style="margin-top:10px" th:each=" ann : ${elem.getJsonAnnotations()}">
                  <li class="list-group-item">
                    <p>
                      <b>Document Quote: </b>
                      <i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
                    </p>
                    <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
                    <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
                  </li>
                </ul>
              </div>
            </div>
            <div th:with="name='Artifact',elem=${scenario.getArtifact()},annotation=${annotation}">
              <div class="element-title">
                <h4><b><span th:text="${name}">Default</span></b></h4>
                <a href="#" th:if="${annotation != null} and ${elem != null} and ${annotation.tag.equals(name)} and ${!annotation.isConnected()}" th:href="@{/linkAnnotationToScenElement/} + ${docId} + '/'+${annotation.id}+'/'+${elem.getExternalId()}" > Link Annotation</a>
              </div>
              Ipsis verbis el pluribus unum
              <div th:if="${elem != null}">
                <ul class="list-group" style="margin-top:10px" th:each=" ann : ${elem.getJsonAnnotations()}">
                  <li class="list-group-item">
                    <p>
                      <b>Document Quote: </b>
                      <i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
                    </p>
                    <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
                    <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
                  </li>
                </ul>
              </div>
            </div>
            <div th:with="name='Environment',elem=${scenario.getEnvironment()},annotation=${annotation}">
              <div class="element-title">
                <h4><b><span th:text="${name}">Default</span></b></h4>
                <a href="#" th:if="${annotation != null} and ${elem != null} and ${annotation.tag.equals(name)} and ${!annotation.isConnected()}" th:href="@{/linkAnnotationToScenElement/} + ${docId} + '/'+${annotation.id}+'/'+${elem.getExternalId()}" > Link Annotation</a>
              </div>
              Ipsis verbis el pluribus unum
              <div th:if="${elem != null}">
                <ul class="list-group" style="margin-top:10px" th:each=" ann : ${elem.getJsonAnnotations()}">
                  <li class="list-group-item">
                    <p>
                      <b>Document Quote: </b>
                      <i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
                    </p>
                    <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
                    <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
                  </li>
                </ul>
              </div>
            </div>
            <div th:with="name='Response',elem=${scenario.getResponse()},annotation=${annotation}">
              <div class="element-title">
                <h4><b><span th:text="${name}">Default</span></b></h4>
                <a href="#" th:if="${annotation != null} and ${elem != null} and ${annotation.tag.equals(name)} and ${!annotation.isConnected()}" th:href="@{/linkAnnotationToScenElement/} + ${docId} + '/'+${annotation.id}+'/'+${elem.getExternalId()}" > Link Annotation</a>
              </div>
              Ipsis verbis el pluribus unum
              <div th:if="${elem != null}">
                <ul class="list-group" style="margin-top:10px" th:each=" ann : ${elem.getJsonAnnotations()}">
                  <li class="list-group-item">
                    <p>
                      <b>Document Quote: </b>
                      <i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
                    </p>
                    <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
                    <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
                  </li>
                </ul>
              </div>
            </div>
            <div th:with="name='Response Measure',elem=${scenario.getResponseMeasure()},annotation=${annotation}">
              <div class="element-title">
                <h4><b><span th:text="${name}">Default</span></b></h4>
                <a href="#" th:if="${annotation != null} and ${elem != null} and ${annotation.tag.equals(name)} and ${!annotation.isConnected()}" th:href="@{/linkAnnotationToScenElement/} + ${docId} + '/'+${annotation.id}+'/'+${elem.getExternalId()}" > Link Annotation</a>
              </div>
              Ipsis verbis el pluribus unum
              <div th:if="${elem != null}">
                <ul class="list-group" style="margin-top:10px" th:each=" ann : ${elem.getJsonAnnotations()}">
                  <li class="list-group-item">
                    <p>
                      <b>Document Quote: </b>
                      <i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
                    </p>
                    <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
                    <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
                  </li>
                </ul>
              </div>
            </div>                                                           
            <section layout:include="@{/getElementFragment} :: scenarioElement" th:with="name='Stimulus',elem=${scenario.getStimulus()},annotation=${annotation}"></section>
            <section layout:include="@{/getElementFragment} :: scenarioElement" th:with="name='Artifact',elem=${scenario.getArtifact()},annotation=${annotation}"></section>
            <section layout:include="@{/getElementFragment} :: scenarioElement" th:with="name='Environment',elem=${scenario.getEnvironment()},annotation=${annotation}"></section>
            <section layout:include="@{/getElementFragment} :: scenarioElement" th:with="name='Response',elem=${scenario.getResponse()},annotation=${annotation}"></section>
            <section layout:include="@{/getElementFragment} :: scenarioElement" th:with="name='Response Measure',elem=${scenario.getResponseMeasure()},annotation=${annotation}"></section>-->
            
  	</div>
  </div>
</div>
	  </div>
<style type="text/css">
	.element-title{
		margin-top: 20px;
		margin-bottom: 10px;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #C8C8C8;

	}
</style>
</body>
</html>