<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="'Structured Representation - ' + ${title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
  <section layout:include="@{/headerFragment} :: headerFragment"></section>
  <div class="panel panel-default" style="margin-top: -20px; height: 30px; margin-bottom:0px">
    <div class="panel-body" style="margin-top: -10px;">
      <a href="#" th:href="@{/selectDoc/} + ${docId}">
        <span class="glyphicon glyphicon-arrow-left"></span> Back To Document
      </a>
    </div>
  </div>
  <div class="well">
    <div style="border-bottom:1px solid; border-color: #CBC7C7; padding-bottom: 5px; margin-bottom: 10px;">
      <span class="h3">
        <b th:text="${title}"></b>
      </span>
    </div>
    <div id="toc">
      <b>
        <a href="#scenarios">
          Scenarios
        </a>
      </b>
      <p th:each="scenario : ${scenarios}" style="padding-left:10px;">
        <a href="#" th:href="'#'+${scenario.getExternalId()}">
          <span th:text="'Scenario for '+${scenario.getQualityRequirement().getName()}+': '"></span> <span th:text="${scenario.getName()}"></span>
        </a>
      </p>
      <b>
        <a href="#views">
        Views
        </a>
      </b>
      <p th:each="view : ${views}" style="padding-left:10px;">
        <a href="#" th:href="'#'+${view.getExternalId()}">
          <span th:text="${'View - ' + view.getName() +': ' + view.getViewtype()}"></span>
        </a>
      </p>
      <b>
              <a href="#modules">
        Modules
        </a>
      </b>
      <p th:each="module : ${modules}" style="padding-left:10px;">
        <a href="#" th:href="'#'+${module.getExternalId()}">
          Module:
          <span th:text="${module.getName()}"></span>
        </a>
      </p>
    </div>
    <a href="" name="scenarios"></a>
    <h3 style="border-bottom: 1px solid #CBC7C7;">Scenarios: </h3>
    <div class="clearfix element-title">
      <div th:each="scenario : ${scenarios}">
        <a href="" th:name="${scenario.getExternalId()}"></a>
        <section layout:include="@{/templates} :: scenarioTemplate" th:with="docId=${docId},scenario=${scenario},edit=false"></section>
      </div>

      <a href="" name="views"></a>
      <h3 style="border-bottom: 1px solid #CBC7C7;">Views: </h3>
            <div th:each="view : ${views}">
        <a href="" th:name="${view.getExternalId()}"></a>
        <section layout:include="@{/templates} :: viewMVTTemplate" th:with="docId=${docId},view=${view},edit=false"></section>
      </div>

      <a href="" name="modules"></a>
      <h3 style="border-bottom: 1px solid #CBC7C7;">Modules: </h3>
                  <div th:each="module : ${modules}">
        <a href="" th:name="${module.getExternalId()}"></a>
        <section layout:include="@{/templates} :: moduleTemplate" th:with="docId=${docId},module=${module},edit=false"></section>
      </div>
    </div>
  </div>
  <style type="text/css">
  .element-title{
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #C8C8C8;
  }

  #toc{
    border: 1px solid;
    width: 400px;
    border-radius: 3px;
    padding: 10px;
    border-color: #C8C8C8;
    background-color: white;
  }

  </style>

</body>
</html>