<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Tags</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
  <section layout:include="@{/headerFragment} :: headerFragment"></section>
  <div class="well">
     <h2>Annotations added to the Document: </h2>
      <ul class="list-group" >
        <li class="list-group-item" th:each="ann : ${annotations}">
          <p><b>Creator: </b><span th:text="${ann.user}"></span></p>
          <p><b>Document Quote: </b><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></p>
          <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
          <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
        </li>
      </ul>
  </div>
  
</body>
</html>