<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Syntax Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
  <section layout:include="@{/headerFragment} :: headerFragment"></section>
  <div class="panel panel-default" style="margin-top: -20px; height: 30px;">
    <div class="panel-body" style="margin-top: -10px;">
      <a href="#" th:href="@{/selectDoc/} + ${docId}">
        <span class="glyphicon glyphicon-arrow-left"></span> 
        Back
      </a>
    </div>
  </div>
  <div class="well" style="margin-top: -20px;">
     <h2>Scenarios in the document: </h2>
      <ul class="list-group" >
        <li class="list-group-item">
          <a href="#" th:href="@{/createScenario/} + ${docId}">Add new Scenario</a>
        </li>
        <li class="list-group-item" th:each="scen : ${scenarios}">
          <p><b>Scenario<span th:text="${scen.getExternalId()}"></span></b><a href="#" th:href="@{/linkAnnotation/} + ${docId}+ '/Scenario/' + ${scen.getExternalId()}">(Link/Unlink Annotations)</a><a href="#" th:href="@{/removeScenario/} + ${docId} + '/' + ${scen.getExternalId()}">(Remove)</a>
          </p>
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            <b>Annotations:</b>
          </li>
          <li class="list-group-item" th:each="scenAnn : ${scen.getAnnotations()}">
            <p><i><span th:text="'(...)' + ${scenAnn.getQuoteIntro()} + '(...)'"></span></i></p>
            <p><b>Comment: </b><span th:text="${scenAnn.text}"></span></p>
          </li>
        </ul>
          <ul class="list-group">
            <!-- SOURCE OF STIMULUS -->
            <li class="list-group-item list-group-item-info">
              <b>Source Of Stimulus</b>
            </li>
            <li class="list-group-item" th:with="name='SrcOfStimulus'">
              <a href="#" th:href="@{'/add' +${name}+'/'+ ${docId} + '/' + ${scen.getExternalId()}}" th:if="${scen.getSrcOfStimulus()} == null">
                (Add)
              </a>
              <div th:with="src=${scen.getSrcOfStimulus()}" th:if="${scen.getSrcOfStimulus()} != null"> 
                <span th:text="'SourceOfStimulus' + ${scen.getSrcOfStimulus().getExternalId()}" th:if="${scen.getSrcOfStimulus()} != null"></span>
               
                <a href="#" th:href="@{/linkAnnotation/} + ${docId}+ '/SrcOfStimulus/' + ${src.getExternalId()}">(Link/Unlink Annotations)</a><a href="#" th:href="@{/removeSrcOfStimulus/}+ ${docId} + '/' + ${src.getExternalId()}">(Remove)</a>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-info">
                    <b>Annotations:</b>
                  </li>
                  <li class="list-group-item" th:each="srcAnn : ${src.getAnnotations()}">
                    <p><i><span th:text="'(...)' + ${srcAnn.getQuoteIntro()} + '(...)'"></span></i></p>
                    <p><b>Comment: </b><span th:text="${srcAnn.text}"></span></p>
                  </li>
                </ul>    
              </div>  
            </li>
            <!-- END OF SOURCE OF STIMULUS -->

            <!-- STIMULUS -->
             <li class="list-group-item list-group-item-info">
              <b>Stimulus</b>
            </li>
            <li class="list-group-item">
              <a href="#" th:href="@{/addStimulus/} + ${docId} + '/' + ${scen.getExternalId()}" th:if="${scen.getStimulus()} == null">
                (Add)
              </a>
              <div th:with="src=${scen.getStimulus()}" th:if="${scen.getStimulus()} != null"> 
                <span th:text="'Stimulus' + ${scen.getStimulus().getExternalId()}" th:if="${scen.getStimulus()} != null"></span>
               
                <a href="#" th:href="@{/linkAnnotation/} + ${docId}+ '/Stimulus/' + ${src.getExternalId()}">(Link/Unlink Annotations)</a><a href="#" th:href="@{/removeStimulus/}+ ${docId} + '/' + ${src.getExternalId()}">(Remove)</a>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-info">
                    <b>Annotations:</b>
                  </li>
                  <li class="list-group-item" th:each="srcAnn : ${src.getAnnotations()}">
                    <p><i><span th:text="'(...)' + ${srcAnn.getQuoteIntro()} + '(...)'"></span></i></p>
                    <p><b>Comment: </b><span th:text="${srcAnn.text}"></span></p>
                  </li>
                </ul>    
              </div>  
            </li>
             <!--STIMULUS -->
            <!-- ARTIFACT -->
            <li class="list-group-item list-group-item-info">
              <b>Artifact</b>
            </li>
            <li class="list-group-item">
              <a href="#" th:href="@{/addArtifact/} + ${docId} + '/' + ${scen.getExternalId()}" th:if="${scen.getArtifact()} == null">
                (Add)
              </a>
              <div th:with="src=${scen.getArtifact()}" th:if="${scen.getArtifact()} != null"> 
                <span th:text="'Artifact' + ${src.getExternalId()}"></span>
                <a href="#" th:href="@{/linkAnnotation/} + ${docId}+ '/Artifact/' + ${src.getExternalId()}">(Link/Unlink Annotations)</a><a href="#" th:href="@{/removeArtifact/}+ ${docId} + '/' + ${src.getExternalId()}">(Remove)</a>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-info">
                    <b>Annotations:</b>
                  </li>
                  <li class="list-group-item" th:each="srcAnn : ${src.getAnnotations()}">
                    <p><i><span th:text="'(...)' + ${srcAnn.getQuoteIntro()} + '(...)'"></span></i></p>
                    <p><b>Comment: </b><span th:text="${srcAnn.text}"></span></p>
                  </li>
                </ul>    
              </div>  
            </li>
            <!-- END OF ARTIFACT -->
            <!-- ENVIRONMENT -->
            <li class="list-group-item list-group-item-info">
              <b>Environment</b>
            </li>
            <li class="list-group-item">
              <a href="#" th:href="@{/addEnvironment/} + ${docId} + '/' + ${scen.getExternalId()}" th:if="${scen.getEnvironment()} == null">
                (Add)
              </a>
              <div th:with="src=${scen.getEnvironment()}" th:if="${scen.getEnvironment()} != null"> 
                <span th:text="'Environment' + ${src.getExternalId()}"></span>
                <a href="#" th:href="@{/linkAnnotation/} + ${docId}+ '/Environment/' + ${src.getExternalId()}">(Link/Unlink Annotations)</a><a href="#" th:href="@{/removeEnvironment/}+ ${docId} + '/' + ${src.getExternalId()}">(Remove)</a>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-info">
                    <b>Annotations:</b>
                  </li>
                  <li class="list-group-item" th:each="srcAnn : ${src.getAnnotations()}">
                    <p><i><span th:text="'(...)' + ${srcAnn.getQuoteIntro()} + '(...)'"></span></i></p>
                    <p><b>Comment: </b><span th:text="${srcAnn.text}"></span></p>
                  </li>
                </ul>    
              </div>  
            </li>
            <!-- END OF ENVIRONMENT -->
            <!-- RESPONSE -->
             <li class="list-group-item list-group-item-info">
              <b>Response</b>
            </li>
            <li class="list-group-item">
              <a href="#" th:href="@{/addResponse/} + ${docId} + '/' + ${scen.getExternalId()}" th:if="${scen.getResponse()} == null">
                (Add)
              </a>
              <div th:with="src=${scen.getResponse()}" th:if="${scen.getResponse()} != null"> 
                <span th:text="'Response' + ${src.getExternalId()}"></span>
                <a href="#" th:href="@{/linkAnnotation/} + ${docId}+ '/Response/' + ${src.getExternalId()}">(Link/Unlink Annotations)</a><a href="#" th:href="@{/removeResponse/}+ ${docId} + '/' + ${src.getExternalId()}">(Remove)</a>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-info">
                    <b>Annotations:</b>
                  </li>
                  <li class="list-group-item" th:each="srcAnn : ${src.getAnnotations()}">
                    <p><i><span th:text="'(...)' + ${srcAnn.getQuoteIntro()} + '(...)'"></span></i></p>
                    <p><b>Comment: </b><span th:text="${srcAnn.text}"></span></p>
                  </li>
                </ul>    
              </div>  
            </li>
            <!-- END OF RESPONSE -->
            <!-- RESPONSE MEASURE -->
             <li class="list-group-item list-group-item-info">
              <b>Response Measure</b>
            </li>
            <li class="list-group-item">
              <a href="#" th:href="@{/addResponseMeasure/} + ${docId} + '/' + ${scen.getExternalId()}" th:if="${scen.getResponseMeasure()} == null">
                (Add)
              </a>
              <div th:with="src=${scen.getResponseMeasure()}" th:if="${scen.getResponseMeasure()} != null"> 
                <span th:text="'ResponseMeasure' + ${src.getExternalId()}"></span>
                <a href="#" th:href="@{/linkAnnotation/} + ${docId}+ '/ResponseMeasure/' + ${src.getExternalId()}">(Link/Unlink Annotations)</a><a href="#" th:href="@{/removeResponseMeasure/}+ ${docId} + '/' + ${src.getExternalId()}">(Remove)</a>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-info">
                    <b>Annotations:</b>
                  </li>
                  <li class="list-group-item" th:each="srcAnn : ${src.getAnnotations()}">
                    <p><i><span th:text="'(...)' + ${srcAnn.getQuoteIntro()} + '(...)'"></span></i></p>
                    <p><b>Comment: </b><span th:text="${srcAnn.text}"></span></p>
                  </li>
                </ul>    
              </div>  
            </li>
            <!-- END OF RESPONSE MEASURE-->
          </ul>
        </li>
      </ul>
  </div>
  
</body>
</html>