<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Syntax Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
  <section layout:include="@{/headerFragment} :: headerFragment"></section>
  <div class="well">
     <h2>Scenarios in the document: </h2>
      <ul class="list-group" >
        <li class="list-group-item">
          <a href="#" th:href="@{/createScenario/} + ${docId}">Add new Scenario</a>
        </li>
        <li class="list-group-item" th:each="scen : ${scenarios}">
          <p><b>Scenario<span th:text="${scen.getExternalId()}"></span></b><a href="#" th:href="@{/linkAnnotation/} + ${docId}+ '/Scenario/' + ${scen.getExternalId()}">(Link/Unlink Annotations)</a><a href="#">(Remove)</a>
          </p>
        <h4>Annotations:</h4>
        <ul class="list-group">
          <li class="list-group-item" th:each="scenAnn : ${scen.getAnnotations()}">
            <p><b>Document Quote: </b><span th:text="'(...)' + ${scenAnn.quote} + '(...)'"></span></p>
            <p><b>Comment: </b><span th:text="'(...)' + ${scenAnn.text} + '(...)'"></span></p>
          </li>
        </ul>
          <ul class="list-group">
            <li class="list-group-item">
              <p><b>Source Of Stimulus: </b></p>
              <p></p>
              <span th:text="'SourceOfStimulus' + ${scen.getSrcOfStimulus().getExternalId()}" th:if="${scen.getSrcOfStimulus()} != null"></span>(...)
              <a href="#" th:href="@{/addSrcOfStimulus/}+ ${docId} + '/' + ${scen.getExternalId()}" th:if="${scen.getSrcOfStimulus()} == null">
                Add Source Of Stimulus
              </a>

              <a href="#" th:href="@{/removeSrcOfStimulus/}+ ${docId} + '/' + ${scen.getExternalId()}" th:if="${scen.getSrcOfStimulus()} != null">
                Remove Source Of Stimulus
              </a>

            </li>

            <li class="list-group-item">
              <p>
                <b>Stimulus:</b>
              </p>
              <p th:if="${scen.getStimulus()} != null">
                <span th:text="'Stimulus' + ${scen.getStimulus().getExternalId()}" ></span>
              </p> 
                
                <p>(...)</p>
                <a href="#" th:href="@{/addStimulus/}+ ${docId} + '/' + ${scen.getExternalId()}" th:if="${scen.getStimulus()} == null">
                  Add Stimulus
                </a>
                <a href="#" th:href="@{/removeStimulus/}+ ${docId} + '/' + ${scen.getExternalId()}" th:if="${scen.getStimulus()} != null">
                  Remove Stimulus
                </a>
            </li>
          </ul>
        </li>
      </ul>
  </div>
  
</body>
</html>