<html>
<section layout:fragment="scenarioTemplate">
	<div class="panel panel-default">
		<!-- header -->
		<div class="panel-heading">
			<span id="scenarioName" class="h4" th:if="${edit == true}">
				<b><span th:text="'Scenario for '+${scenario.getQualityRequirement().getName()}+': '"></span> <span th:text="${scenario.getName()}"></span></b> 
				<a href="" name="Scenario"></a>
			</span>
			<a href="#" th:href="@{/removeScenario/}+${docId}+'/'+${scenario.getExternalId()}" style="float:right;" th:if="${edit == true}">
				<span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="left" title="Remove Scenario"></span>
			</a>
			<span id="scenarioName" class="h4" th:if="${edit == false}">
				<a href="" name="Scenario"></a>
				<b><a href="#" th:href="@{/viewScenario/}+${docId}+'/'+${scenario.getExternalId()}" th:text="'Scenario for '+${scenario.getQualityRequirement().getName()}+': '+ ${scenario.getName()}">
				</a></b> 
			</span>
		</div>
		<!-- end of scenario header -->
		<div class="panel-body">
			<!-- scenario annotations -->
			<section layout:include="@{/annotationFragments} :: scenarioAnnotationsTemplate" th:with="scenario=${scenario},docId=${docId}, edit=${edit}"></section>
			<!-- -->
			<!-- scenario Elements -->
			<div class="scenarioElements">
				<div th:each="entry : ${scenario.getElements()}">
					<div th:with="name=${entry.getKey()},elem=${entry.getValue()}">
						<div class="element-title">
							<a href="" th:name="${name}"></a>
							<h4>
								<b><span th:text="${name}"></span></b>
							</h4>
							
						</div>
						<section layout:include="@{/annotationFragments} :: scenarioElementsAnnotations" th:with="elem=${elem},docId=${docId},edit=${edit}"></section>
					</div>
				</div>
				<!-- -->
				<!--   Tactics  -->
				<div class="element-title">
					<p>
						<span class="h4">
							<b>Tactics:</b>
							<a href="" name="Tactics"></a>
						</span>
						<a href="#" data-toggle="modal" data-target="#tactic" style="float:right;" th:if="${edit == true}">
							<span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="Add a Specific Tactic"></span>
						</a>
					</p>
				</div>
				<div>
					<ul class="list-group" style="margin-top:10px" th:each=" ann : ${scenario.getJsonAnnotations()}" th:if="${ann.tag.equals('Tactic')}">
						<li class="list-group-item">
							<a href="" th:name="${ann.id}"></a>
							<p style="float:right;margin-left: 10px;">
								<a href="#" th:href="@{/unlinkFromScenario/}+${docId}+'/'+${ann.id}+'/'+${scenario.getExternalId()}" th:if="${edit == true}">
									<span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Remove Annotation"></span>
								</a>
								<a th:id="'moveAnnotation'+${ann.id}" data-toggle="modal" data-target="#move" href="#" th:if="${edit == true}">
									<span class="glyphicon glyphicon-retweet" data-toggle="tooltip" data-placement="bottom" title="Move Annotation to other Scenario"></span>
								</a>

								<a href="#" data-toggle="modal" data-target="#linkToTactic" th:if="${edit == true}">
									<span class="glyphicon glyphicon-share-alt" data-toggle="tooltip" data-placement="bottom" title="Add Annotation to a specific Tactic"></span>
								</a>
								<!---->
								<div class="modal fade" id="linkToTactic" th:if="${edit == true}">
									<div class="modal-dialog modal-lg">
										<div class="modal-content" >
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">x</span>
												</button>
												<h4 class="modal-title">Tactics</h4>
											</div>
											<div class="modal-body" id="elements">
												<ul class="list-group">
													<li class="list-group-item" th:each="tactic : ${scenario.getTacticSet()}">
														<span th:text="${tactic.getIdentifier()}"></span>
														<a href="#" th:href="@{/linkToTactic/}+${docId}+'/'+${scenario.getExternalId()}+'/'+${tactic.getExternalId()}+'/'+ ${ann.id}">select</a>

													</li>
												</ul>
											</div>
										</div><!-- /.modal-content -->
									</div><!-- /.modal-dialog -->
								</div>
								<!---->
							</p>
							<script type="text/javascript" th:inline="javascript" th:if="${edit == true}">
							$("#moveAnnotation"+/*[[${ann.id}]]*/).click(function(){
								$("#elements").load(/*[[@{/moveAnnotationScenario/}+${docId}+'/'+${ann.id}]]*/);
							});
							</script>

							<p>
								<b>Document Quote: </b>
								<i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
							</p>
							<p><b>Comment: </b><span th:text="${ann.text}"></span></p>
							<p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
						</li>
					</ul>
				</div>
				<!-- tactic annotations -->
				<section layout:include="@{/annotationFragments} :: tacticsAnnotations" th:with="scenario=${scenario},docId=${docId}"></section>

				<!-- -->
				<!-- end tactics-->
			</div>
		</div>
	</div>
</section>

<section layout:fragment="moduleTemplate">
	<div class="panel panel-default">
		<!-- header -->
		<div class="panel-heading">
			<span class="h4" th:if="${edit == true}">
				<b>Module: <span th:text="${module.getName()}"></span></b> 
				<a href="" name="Module"></a>
			</span>
			<a href="#" th:href="@{/removeModule/}+${docId}+'/'+${module.getExternalId()}" style="float:right;" th:if="${edit == true}">
				<span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="left" title="Remove Module"></span>
			</a>
			<span class="h4" th:if="${edit == false}">
				<b><a href="#" th:href="@{/viewModule/}+${docId}+'/'+${module.getExternalId()}">
					Module:
					<span th:text="${module.getName()}"></span></a></b>
					<a href="" name="Module"></a>
				</span>
				<a href="#" th:href="@{/removeModuleFromView/}+${docId}+'/'+${view.getExternalId()}+'/'+${module.getExternalId()}" style="float:right;" th:if="${view != null} and ${viewEdit == true}">
					<span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Remove Module from this View"></span>
				</a>
			</div>
			<!-- end of header -->
			<div class="panel-body">
				<h4>Views including this Module: </h4>
				<div th:each="v : ${module.getViewSet()}">
					<a href="#"  th:href="@{/viewView/}+${docId}+'/'+${v.getExternalId()}">
						<b th:text="${v.getViewtype() + ', ' + v.getStyle() + ': '}"></b>
						<span th:text="${v.getName()}"></span>
					</a>
				</div>
				<!-- module annotations -->
				<h4>Name</h4>
				<ul class="list-group" style="margin-top:10px">
					<li class="list-group-item" th:each=" ann : ${module.getAnnotationsByTag('Module - Name')}">
						<section layout:include="@{/annotationFragments} :: annotationContentModule" th:with="ann=${ann},docId=${docId},module=${module},edit=${edit}"></section>
					</li>
				</ul>
				<h4>Responsibilities</h4>
				<ul class="list-group" style="margin-top:10px">
					<li class="list-group-item" th:each=" ann : ${module.getAnnotationsByTag('Module - Responsibility')}">
						<section layout:include="@{/annotationFragments} :: annotationContentModule" th:with="ann=${ann},docId=${docId},module=${module},edit=${edit}"></section>
					</li>
				</ul>
				<h4>Interfaces</h4>
				<ul class="list-group" style="margin-top:10px">
					<li class="list-group-item" th:each=" ann : ${module.getAnnotationsByTag('Module - Interface')}">
						<section layout:include="@{/annotationFragments} :: annotationContentModule" th:with="ann=${ann},docId=${docId},module=${module},edit=${edit}"></section>
					</li>
				</ul>
				<h4>Implementation Information</h4>
				<ul class="list-group" style="margin-top:10px">
					<li class="list-group-item" th:each=" ann : ${module.getAnnotationsByTag('Module - Implementation Details')}">
						<section layout:include="@{/annotationFragments} :: annotationContentModule" th:with="ann=${ann},docId=${docId},module=${module},edit=${edit}"></section>
					</li>
				</ul>

				<p>  
					<span class="h4">
						Is-Part-Of:
					</span>
					<a href="" name="isPartOf"></a>
					<a href="#" data-toggle="modal" data-target="#setParentModal" th:if="${module.getParent() == null} and ${edit == true}"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="right" title="Add Parent"></span></a>
					<section layout:include="@{/setParentModal} :: setParentModal" th:with="modules=${modules},id=${module.getExternalId()},docId=${docId}" th:if="${module.getParent() == null} and ${edit == true}"></section>
					<div th:if="${module.getParent() != null}" th:with="parent=${module.getParent()}">
						<a href="#" th:href="@{/viewModule/}+${docId}+'/'+${parent.getExternalId()}" th:text="${parent.getName()}"></a>
						<a href="#" th:href="@{/removeModuleParent/}+${docId}+'/'+${module.getExternalId()}+'/'+${parent.getExternalId()}" th:if="${edit == true}"><small>x</small></a>
					</div>  
				</p>
				<p>
					<span class="h4">Uses: </span>
					<a href="" name="uses"></a>
					<a href="#" data-toggle="modal" data-target="#setUsesModal" th:if="${edit == true}">
						<span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="right" title="Add Modules"></span>
					</a>
					<section layout:include="@{/setParentModal} :: setUsesModal" th:with="modules=${modules},id=${module},docId=${docId},uses=${uses}" th:if="${edit == true}"></section>
					<div th:if="${!module.getUsesSet().isEmpty()}" th:each="use : ${module.getUsesSet()}">
						<a href="#" th:href="@{/viewModule/}+${docId}+'/'+${use.getExternalId()}" th:text="${use.getName()}"></a>
						<a href="#" th:href="@{/removeModuleUse/}+${docId}+'/'+${module.getExternalId()}+'/'+${use.getExternalId()}" th:if="${edit == true}"><small>x</small></a>
					</div>
				</p>
				<p>
					<span class="h4">Is A: </span>
					<a href="" name="isA"></a>
					<a href="#" data-toggle="modal" data-target="#isAModal" th:if="${edit == true}">
						<span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="right" title="Add Modules"></span>
					</a>
					<section layout:include="@{/setParentModal} :: setIsAModal" th:with="modules=${modules},id=${module},docId=${docId},uses=${uses}" th:if="${edit == true}"></section>
					<div th:if="${!module.getIsASet().isEmpty()}" th:each="isA : ${module.getIsASet()}">
						<a href="#" th:href="@{/viewModule/}+${docId}+'/'+${isA.getExternalId()}" th:text="${isA.getName()}"></a>
						<a href="#" th:href="@{/removeModuleIsA/}+${docId}+'/'+${module.getExternalId()}+'/'+${isA.getExternalId()}" th:if="${edit == true}"><small>x</small></a>
					</div>  
				</p>
				<p>
					<span class="h4">Crosscuts: </span>
					<a href="" name="crosscuts"></a>
					<a href="#" data-toggle="modal" data-target="#setCrosscutsModal" th:if="${edit == true}">
						<span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="right" title="Add Modules"></span>
					</a>
					<section layout:include="@{/setParentModal} :: setCrossCutsModal" th:with="modules=${modules},id=${module},docId=${docId},uses=${uses}" th:if="${edit == true}"></section>
					<div th:if="${!module.getCrossCutsSet().isEmpty()}" th:each="crosscut : ${module.getCrossCutsSet()}">
						<a href="#" th:href="@{/viewModule/}+${docId}+'/'+${crosscut.getExternalId()}" th:text="${crosscut.getName()}"></a>
						<a href="#" th:href="@{/removeModuleCrossCut/}+${docId}+'/'+${module.getExternalId()}+'/'+${crosscut.getExternalId()}" th:if="${edit == true}"><small>x</small></a>
					</div>
				</p>
				<p>
					<span class="h4">One-To-One: </span>
					<a href="" name="oneToOne"></a>
					<a href="#" data-toggle="modal" data-target="#oneToOneModal" th:if="${edit == true}">
						<span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="right" title="Add Modules"></span>
					</a>
					<section layout:include="@{/setParentModal} :: setOneToOneModal" th:with="modules=${modules},id=${module},docId=${docId},uses=${uses}" th:if="${edit == true}"></section>
					<div th:if="${!module.getOneToOneSet().isEmpty()}" th:each="oneToOne : ${module.getOneToOneSet()}">
						<a href="#" th:href="@{/viewModule/}+${docId}+'/'+${oneToOne.getExternalId()}" th:text="${oneToOne.getName()}"></a>
						<a href="#" th:href="@{/removeModuleOneToOne/}+${docId}+'/'+${module.getExternalId()}+'/'+${oneToOne.getExternalId()}" th:if="${edit == true}"><small>x</small></a>
					</div>
				</p>
				<p>
					<span class="h4">One-To-Many: </span>
					<a href="" name="oneToMany"></a>
					<a href="#" data-toggle="modal" data-target="#oneToManyModal" th:if="${edit == true}">
						<span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="right" title="Add Modules"></span>
					</a>
					<section layout:include="@{/setParentModal} :: setOneToManyModal" th:with="modules=${modules},id=${module},docId=${docId},uses=${uses}" th:if="${edit == true}"></section>
					<div th:if="${!module.getOneToManySet().isEmpty()}" th:each="oneToMany : ${module.getOneToManySet()}">
						<a href="#" th:href="@{/viewModule/}+${docId}+'/'+${oneToMany.getExternalId()}" th:text="${oneToMany.getName()}"></a>
						<a href="#" th:href="@{/removeModuleOneToMany/}+${docId}+'/'+${module.getExternalId()}+'/'+${oneToMany.getExternalId()}" th:if="${edit == true}"><small>x</small></a>
					</div>
				</p>
				<p>
					<span class="h4">Many-To-Many: </span>
					<a href="" name="manyToMany"></a>
					<a href="#" data-toggle="modal" data-target="#manyToManyModal" th:if="${edit == true}">
						<span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="right" title="Add Modules"></span> 
					</a>
					<section layout:include="@{/setParentModal} :: setManyToManyModal" th:with="modules=${modules},id=${module},docId=${docId},uses=${uses}" th:if="${edit == true}"></section>
					<div th:if="${!module.getManyToManySet().isEmpty()}" th:each="manyToMany : ${module.getManyToManySet()}">
						<a href="#" th:href="@{/viewModule/}+${docId}+'/'+${manyToMany.getExternalId()}" th:text="${manyToMany.getName()}"></a>
						<a href="#" th:href="@{/removeModuleManyToMany/}+${docId}+'/'+${module.getExternalId()}+'/'+${manyToMany.getExternalId()}" th:if="${edit == true}"><small>x</small></a>
					</div>
				</p>
				<p>
					<span class="h4">Aggregates: </span>
					<a href="" name="aggregated"></a>
					<a href="#" data-toggle="modal" data-target="#aggregatesModal" th:if="${edit == true}">
						<span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="right" title="Add Modules"></span>
					</a>
					<section layout:include="@{/setParentModal} :: setAggregatesModal" th:with="modules=${modules},id=${module},docId=${docId},uses=${uses}" th:if="${edit == true}"></section>
					<div th:if="${!module.getAggregatedSet().isEmpty()}" th:each="aggregated : ${module.getAggregatedSet()}">
						<a href="#" th:href="@{/viewModule/}+${docId}+'/'+${aggregated.getExternalId()}" th:text="${aggregated.getName()}"></a>
						<a href="#" th:href="@{/removeModuleAggregated/}+${docId}+'/'+${module.getExternalId()}+'/'+${aggregated.getExternalId()}" th:if="${edit == true}"><small>x</small></a>
					</div>
				</p>
				<div style="margin-top: 20px; border-top: 1px solid #DDDDDD;">
					<ul class="list-group" style="margin-top:10px">
						<li class="list-group-item" th:each=" ann : ${module.getAnnotationsByTag('Module')}">
							<section layout:include="@{/annotationFragments} :: annotationContentModule" th:with="ann=${ann},docId=${docId},module=${module},edit=${edit}"></section>
						</li>
					</ul>
				</div>

				<section layout:include="@{/annotationFragments} :: moduleText" th:with="module=${module},docId=${docId},edit=${edit}"></section>

				<!-- -->
				<!-- end tactics-->
			</div>
		</div>
	</section>

	<section layout:fragment="viewMVTTemplate">
		<!-- Start of View -->
		<div class="panel panel-default">
			<!-- header -->
			<div class="panel-heading">
				<span class="h4" th:if="${edit == true}">
					<b th:text="${'View ' + view.getName() +': ' + view.getViewtype()}"></b>
					<a href="" name="View"></a>
				</span>
				<span class="h4" th:if="${edit == false}">
					<b><a href="#" th:href="@{/viewView/}+${docId}+'/'+${view.getExternalId()}">
						<span th:text="${'View - ' + view.getName() +': ' + view.getViewtype()}"></span></a></b>
						<a href="" name="View"></a>
					</span>
					<a href="#" th:href="@{/removeView/}+${docId}+'/'+${view.getExternalId()}" style="float:right;" th:if="${edit == true}">
						<span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="left" title="Remove View"></span>
					</a>
				</div>
				<!-- end of header -->
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" th:each=" ann : ${view.getJsonAnnotations()}">
							<section layout:include="@{/annotationFragments} :: annotationContentViewtype" th:with="view=${view},edit=${edit}"></section>
						</li>
					</ul>
					<section layout:include="@{/annotationFragments} :: viewText" th:with="element=${view},edit=${edit}"></section>
					<div class="panel panel-default">
						<!-- header -->
						<div class="panel-heading">
							<span class="h4">
								<b>Modules</b>
								<a href="" name="View"></a>
							</span>
							<a href="#" data-toggle="modal" data-target="#addModules" style="float:right;" th:if="${edit == true}">
								<span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="left" title="Add Modules"></span>
							</a>
							<section layout:include="@{/viewFragments} :: addModulesModal" th:with="modules=${modules},view=${view},used=${used}" th:if="${edit == true}"></section>
						</div>
						<!-- end of header -->
						<div class="panel-body" th:each="module : ${view.getModuleSet()}">
							<section layout:include="@{/templates} :: moduleTemplate" th:with="module=${module},docId=${docId},view=${view},edit=false,viewEdit=${edit}"></section>
						</div>
					</div>
				</div>

			</div>
		</section>	

		<section layout:fragment="componentTemplate">
			<div class="panel panel-default">
				<!-- header -->
				<div class="panel-heading">
					<span id="componentName" class="h4" th:if="${edit == true}">
						<b><span th:text="'Component: '+${component.getName()}"></span></b> 
						<a href="" name="Component"></a>
					</span>
					<a href="#" th:href="@{/removeComponent/}+${docId}+'/'+${component.getExternalId()}" style="float:right;" th:if="${edit == true}">
						<span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="left" title="Remove Component"></span>
					</a>
					<span id="componentName" class="h4" th:if="${edit == false}">
						<b><a href="#" th:href="@{/viewComponent/}+${docId}+'/'+${component.getExternalId()}" th:text="'Component: '+${component.getName()}">

						</a></b> 
						<a href="" name="Component"></a>
					</span>
				</div>
				<!-- end of scenario header -->
				<div class="panel-body">
					<!-- scenario annotations -->
					<section layout:include="@{/annotationFragments} :: componentAnnotationsTemplate" th:with="component=${component},docId=${docId}, edit=${edit}"></section>
					<!-- -->
					<div class="componentPorts">
						<!--   Tactics  -->
						<div>
							<p>
								<span class="h4">
									<b>Ports:</b>
									<a href="" name="Ports"></a>
								</span>
								<a href="#" data-toggle="modal" data-target="#ports" style="float:right;" th:if="${edit == true}">
									<span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="Add a Port to the Component"></span>
								</a>
							</p>
						</div>
						<div>
							<ul class="list-group" style="margin-top:10px" th:each=" ann : ${component.getJsonAnnotations()}" th:if="${ann.tag.equals('Component Port')}">
								<li class="list-group-item">
									<a href="" th:name="${ann.id}"></a>
									<p style="float:right;margin-left: 10px;">
										<a href="#" th:href="@{/unlinkFromComponent/}+${docId}+'/'+${ann.id}+'/'+${component.getExternalId()}" th:if="${edit == true}">
											<span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Remove Annotation"></span>
										</a>
										<a th:id="'moveAnnotation'+${ann.id}" data-toggle="modal" data-target="#move" href="#" th:if="${edit == true}">
											<span class="glyphicon glyphicon-retweet" data-toggle="tooltip" data-placement="bottom" title="Move annotation to other Component"></span>
										</a>

										<a href="#" data-toggle="modal" data-target="#linkToPort" th:if="${edit == true}">
											<span class="glyphicon glyphicon-share-alt" data-toggle="tooltip" data-placement="bottom" title="Add Annotation to a specific Port"></span>
										</a>
										<!---->
										<div class="modal fade" id="linkToPort" th:if="${edit == true}">
											<div class="modal-dialog modal-lg">
												<div class="modal-content" >
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">x</span>
														</button>
														<h4 class="modal-title">Tactics</h4>
													</div>
													<div class="modal-body" id="elements">
														<ul class="list-group">
															<li class="list-group-item" th:each="port : ${component.getPortSet()}">
																<span th:text="${port.getName()}"></span>
																<a href="#" th:href="@{/moveAnnotationToPort/}+${docId}+'/'+${component.getExternalId()}+'/'+${port.getExternalId()}+'/'+ ${ann.id}">select</a>

															</li>
														</ul>
													</div>
												</div><!-- /.modal-content -->
											</div><!-- /.modal-dialog -->
										</div>
										<!---->
									</p>
									<script type="text/javascript" th:inline="javascript" th:if="${edit == true}">
									$("#moveAnnotation"+/*[[${ann.id}]]*/).click(function(){
										$("#elements").load(/*[[@{/moveAnnotationComponent/}+${docId}+'/'+${ann.id}]]*/);
									});
									</script>

									<p>
										<b>Document Quote: </b>
										<i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
									</p>
									<p><b>Comment: </b><span th:text="${ann.text}"></span></p>
									<p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
								</li>
							</ul>
						</div>
						<!-- port annotations -->
						<div th:if="${!component.getPortSet().isEmpty()}">
							<div th:each="port : ${component.getPortSet()}">
								<b>
									<span th:text="'- '+${port.getName()}" style="font-size:17px;">
									</span>
									<a href="" th:name="${port.getName()}"></a>
								</b>

								<a href="#" th:href="@{/removePortFromComponent/}+${docId}+'/'+${component.getExternalId()}+'/'+${port.getExternalId()}" style="float:right;" th:if="${edit == true}">
									<span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="Delete Port"></span>
								</a>
								<div th:if="${port.getRole() != null}" th:with="role=${port.getRole()}">
									<b>Attached to: </b>
									<a th:text="'role ' + ${role.getName()} + ' of Connector: '+${role.getConnector().getName()}" th:href="@{/viewConnector/}+${docId}+'/'+${role.getConnector().getExternalId()}+'#'+${role.getName()}"></a>
									<a href="#" th:href="@{/unattachPortFromConnectorRole/}+${docId}+'/'+${port.getExternalId()}+'/'+${role.getExternalId()}">(remove)</a>
								</div>
								<div th:if="${port.getRole() == null}">
									<a href="#" data-toggle="modal" th:attr="data-target='#attach'+${port.getExternalId()}">Connect Port to a Connector Role</a>
									<!-- attach ports modal -->
									<div class="modal fade" th:id="'attach'+${port.getExternalId()}">
										<div class="modal-dialog modal-lg">
											<div class="modal-content" >
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">×</span>
													</button>
													<h4 class="modal-title" id="myLargeModalLabel">Choose a Connector Role to attach this port</h4>
												</div>
												<div class="modal-body">
													<div th:each="connector : ${connectors}">
														<ul class="list-group">
															<li class="list-group-item" th:text="${connector.getName()}+', ' + ${connector.getStyle()}"></li>
															<li class="list-group-item" th:each="role : ${connector.getRoleSet()}" th:if="${role.getPort() == null}">
																<span th:text="${role.getName()}"></span>
																<a href="#" th:href="@{/attachPortToConnectorRole/}+${docId}+'/'+${port.getExternalId()}+'/'+${role.getExternalId()}">(select)</a>
															</li>
														</ul>
													</div>
												</div>
											</div><!-- /.modal-content -->
										</div><!-- /.modal-dialog -->
									</div>
									<!-- end -->
								</div>
								<section layout:include="@{/annotationFragments} :: portsAnnotations"></section>
							</div>
						</div>

						<!-- -->
						<!-- end tactics-->
					</div>
				</div>
			</div>
		</section>

		<section layout:fragment="connectorTemplate">
			<div class="panel panel-default">
				<!-- header -->
				<div class="panel-heading">
					<span id="connectorName" class="h4" th:if="${edit == true}">
						<b><span th:text="'Connector: '+${connector.getName()}"></span></b> 
						<a href="" name="connector"></a>
					</span>
					<a href="#" th:href="@{/removeConnector/}+${docId}+'/'+${connector.getExternalId()}" style="float:right;" th:if="${edit == true}">
						<span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="left" title="Remove Connector"></span>
					</a>
					<span id="connectorName" class="h4" th:if="${edit == false}">
						<b><a href="#" th:href="@{/viewConnector/}+${docId}+'/'+${connector.getExternalId()}" th:text="'Connector: '+${connector.getName()}">

						</a></b> 
						<a href="" name="connector"></a>
					</span>
				</div>
				<!-- end of header -->
				<div class="panel-body">
					<span class="h4">
						<a href="" name="style"></a>
						<b>Connector Style:</b>
						<span th:text="${connector.getStyle()}"></span>
					</span>

					<!-- annotations -->
					<section layout:include="@{/annotationFragments} :: connectorAnnotationsTemplate" th:with="connector=${connector},docId=${docId}, edit=${edit}"></section>
					<!-- -->
					<div class="connectorRoles">
						<!--   Roles  -->
						<div style="margin-top: 20px;">
							<p style="border-bottom: 1px solid #DDDDDD;">
								<span class="h4">
									<b>Roles:</b>
									<a href="" name="roles"></a>
								</span>
								<a href="#" data-toggle="modal" data-target="#roles" style="float:right;" th:if="${edit == true}">
									<span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="Add a Role to the Connector"></span>
								</a>
							</p>
						</div>
						<div>
							<ul class="list-group" style="margin-top:10px" th:each=" ann : ${connector.getJsonAnnotations()}" th:if="${ann.tag.equals('Connector Role')}">
								<li class="list-group-item">
									<a href="" th:name="${ann.id}"></a>
									<p style="float:right;margin-left: 10px;">
										<a href="#" th:href="@{/unlinkFromConnector/}+${docId}+'/'+${ann.id}+'/'+${connector.getExternalId()}" th:if="${edit == true}">
											<span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Remove Annotation"></span>
										</a>
										<a th:id="'moveAnnotation'+${ann.id}" data-toggle="modal" data-target="#move" href="#" th:if="${edit == true}">
											<span class="glyphicon glyphicon-retweet" data-toggle="tooltip" data-placement="bottom" title="Move Annotation to other Connector"></span>
										</a>

										<a href="#" data-toggle="modal" data-target="#linkToRole" th:if="${edit == true}">
											<span class="glyphicon glyphicon-share-alt" data-toggle="tooltip" data-placement="bottom" title="Add Annotation to a specific Role"></span>
										</a>
										<!---->
										<div class="modal fade" id="linkToRole" th:if="${edit == true}">
											<div class="modal-dialog modal-lg">
												<div class="modal-content" >
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">x</span>
														</button>
														<h4 class="modal-title">Roles</h4>
													</div>
													<div class="modal-body" id="elements">
														<ul class="list-group">
															<li class="list-group-item" th:each="role : ${connector.getRoleSet()}">
																<span th:text="${role.getName()}"></span>
																<a href="#" th:href="@{/moveAnnotationToRole/}+${docId}+'/'+${connector.getExternalId()}+'/'+${role.getExternalId()}+'/'+ ${ann.id}">select</a>

															</li>
														</ul>
													</div>
												</div><!-- /.modal-content -->
											</div><!-- /.modal-dialog -->
										</div>
										<!---->
									</p>
									<script type="text/javascript" th:inline="javascript" th:if="${edit == true}">
									$("#moveAnnotation"+/*[[${ann.id}]]*/).click(function(){
										$("#elements").load(/*[[@{/moveAnnotationConnector/}+${docId}+'/'+${ann.id}]]*/);
									});
									</script>

									<p>
										<b>Document Quote: </b>
										<i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
									</p>
									<p><b>Comment: </b><span th:text="${ann.text}"></span></p>
									<p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
								</li>
							</ul>
						</div>
						<!-- tactic annotations -->
						<section layout:include="@{/annotationFragments} :: rolesAnnotations"></section>

						<!-- -->
						<!-- end tactics-->
					</div>
				</div>
			</div>
		</section>

		<section layout:fragment="viewCCTemplate">
			<!-- Start of View -->
			<div class="panel panel-default">
				<!-- header -->
				<div class="panel-heading">
					<span class="h4" th:if="${edit == true}">
						<b th:text="${'View ' + view.getName() +': ' + view.getViewtype()}"></b>
						<a href="" name="View"></a>
					</span>
					<span class="h4" th:if="${edit == false}">
						<b><a href="#" th:href="@{/viewView/}+${docId}+'/'+${view.getExternalId()}">
							<span th:text="${'View - ' + view.getName() +': ' + view.getViewtype()}"></span></a></b>
							<a href="" name="View"></a>
						</span>
						<a href="#" th:href="@{/removeView/}+${docId}+'/'+${view.getExternalId()}" style="float:right;" th:if="${edit == true}">
							<span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="left" title="Remove View"></span>
						</a>
					</div>
					<!-- end of header -->
					<div class="panel-body">
						<ul class="list-group">
							<li class="list-group-item" th:each=" ann : ${view.getJsonAnnotations()}">
								<section layout:include="@{/annotationFragments} :: annotationContentViewtype" th:with="view=${view},edit=${edit}"></section>
							</li>
						</ul>
						<section layout:include="@{/annotationFragments} :: viewText" th:with="element=${view},edit=${edit}"></section>
						<div class="panel panel-default">
							<!-- header -->
							<div class="panel-heading">
								<span class="h4">
									<b>Components</b>
									<a href="" name="View"></a>
								</span>
								<a href="#" data-toggle="modal" data-target="#addComponents" style="float:right;" th:if="${edit == true}">
									<span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="left" title="Add Components"></span>
								</a>
								<section layout:include="@{/viewFragments} :: addComponentsModal" th:with="components=${components},view=${view},used=${used}" th:if="${edit == true}"></section>
							</div>
							<!-- end of header -->
							<div class="panel-body" th:each="component : ${view.getComponentSet()}">
								<section layout:include="@{/templates} :: componentTemplate" th:with="component=${component},docId=${docId},view=${view},edit=false,viewEdit=${edit}"></section>
							</div>
						</div>
						<div class="panel panel-default">
							<!-- header -->
							<div class="panel-heading">
								<span class="h4">
									<b>Connectors</b>
									<a href="" name="View"></a>
								</span>
								<a href="#" data-toggle="modal" data-target="#addConnectors" style="float:right;" th:if="${edit == true}">
									<span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="left" title="Add Connectors"></span>
								</a>
								<section layout:include="@{/viewFragments} :: addConnectorsModal" th:with="connectors=${connectors},view=${view},used=${used}" th:if="${edit == true}"></section>
							</div>
							<!-- end of header -->
							<div class="panel-body" th:each="connector : ${view.getConnectorSet()}">
								<section layout:include="@{/templates} :: connectorTemplate" th:with="connector=${connector},docId=${docId},view=${view},edit=false,viewEdit=${edit}"></section>
							</div>
						</div>
					</div>

				</div>
			</section>	

			</html>

