<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="'View - '+${view.getName()}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/30px.3.4/css/bootstrap-theme.min.css"/>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="modal fade" id="move">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myLargeModalLabel">Move Annotation</h4>
        </div>
        <div class="modal-body" id="elements">
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
              <span>Loading...</span>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <section layout:include="@{/headerFragment} :: headerFragment"></section>
  <div class="panel panel-default" style="margin-top: -20px; height: 30px;">
    <div class="panel-body" style="margin-top: -10px;">
      <a href="#" th:href="@{/selectDoc/} + ${docId}">
        <span class="glyphicon glyphicon-arrow-left"></span> Back to Document
      </a>
    </div>
  </div>
  <div class="well" style="margin-top: -20px;">
    <div class="clearfix element-title">
      <!-- Start of View -->
      <div class="panel panel-default">
        <!-- header -->
        <div class="panel-heading">
          <span class="h4">
            <b th:text="${'View ' + view.getName() +': ' + view.getViewtype() + ', ' + view.getStyle()}"></b>
            <a href="" name="View"></a>
          </span>
          <a href="#" th:href="@{/removeView/}+${docId}+'/'+${view.getExternalId()}" style="float:right;">
            <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="left" title="Remove View"></span>
          </a>
        </div>
        <!-- end of header -->
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item" th:each=" ann : ${view.getJsonAnnotations()}">
              <section layout:include="@{/annotationFragments} :: annotationContentViewtype" th:with="view=${view}"></section>
            </li>
          </ul>
          <section layout:include="@{/annotationFragments} :: viewText" th:with="element=${view}"></section>
        </div>
      </div>

      <div class="panel panel-default">
        <!-- header -->
        <div class="panel-heading">
          <span class="h4">
            <b>Modules</b>
            <a href="" name="View"></a>
          </span>
          <a href="#" data-toggle="modal" data-target="#addModules" style="float:right;">
            <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="left" title="Add Modules"></span>
          </a>
          <section layout:include="@{/viewFragments} :: addModulesModal" th:with="modules=${modules},view=${view},used=${used}"></section>
        </div>
        <!-- end of header -->
        <div class="panel-body" th:each="module : ${view.getModuleSet()}">
          <div class="panel panel-default">
            <!-- header -->
            <div class="panel-heading">
              <span class="h4">
                <a href="#" th:href="@{/viewModule/}+${docId}+'/'+${module.getExternalId()}">
                  <b>Module: <span th:text="${module.getName()}"></span></b>
                </a> 
                <a href="#" th:href="@{/removeModuleFromView/}+${docId}+'/'+${view.getExternalId()}+'/'+${module.getExternalId()}" style="float:right;">
                  <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Remove Module from this View"></span>
                </a>
                <a href="" name="Module"></a>
              </span>
            </div>
            <!-- end of header -->
            <div class="panel-body">
              <!-- module annotations -->
              <h4>Name</h4>
              <ul class="list-group" style="margin-top:10px">
                <li class="list-group-item" th:each=" ann : ${module.getAnnotationsByTag('Module - Name')}">
                  <a href="" th:name="${ann.id}"></a> 
                  <p><b>Document Quote: </b><i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i></p>
                  <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
                  <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
                </li>
              </ul>
              <h4>Responsibilities</h4>
              <ul class="list-group" style="margin-top:10px">
                <li class="list-group-item" th:each=" ann : ${module.getAnnotationsByTag('Module - Responsibility')}">
                  <a href="" th:name="${ann.id}"></a>  
                  <p>
                    <b>Document Quote: </b>
                    <i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
                  </p>
                  <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
                  <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
                </li>
              </ul>
              <h4>Interfaces</h4>
              <ul class="list-group" style="margin-top:10px">
                <li class="list-group-item" th:each=" ann : ${module.getAnnotationsByTag('Module - Interface')}">
                  <a href="" th:name="${ann.id}"></a>  
                  <p>
                    <b>Document Quote: </b>
                    <i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
                  </p>
                  <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
                  <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
                </li>
              </ul>
              <h4>Implementation Information</h4>
              <ul class="list-group" style="margin-top:10px">
                <li class="list-group-item" th:each=" ann : ${module.getAnnotationsByTag('Module - Implementation Details')}">
                  <a href="" th:name="${ann.id}"></a>
                  <p>
                    <b>Document Quote: </b>
                    <i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
                  </p>
                  <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
                  <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
                </li>
              </ul>
              
              <h4>Is-Part-Of: </h4>
              <div th:if="${module.getParent() != null}" th:with="parent=${module.getParent()}">
                <a href="#" th:href="@{/viewModule/}+${docId}+'/'+${parent.getExternalId()}" th:text="${parent.getName()}"></a>
              </div>  
              <h4>Uses: </h4>
              <div th:if="${!module.getUsesSet().isEmpty()}" th:each="use : ${module.getUsesSet()}">
                <a href="#" th:href="@{/viewModule/}+${docId}+'/'+${use.getExternalId()}" th:text="${use.getName()}"></a>
              </div>

              <h4>Is A: </h4>
              <div th:if="${!module.getIsASet().isEmpty()}" th:each="isA : ${module.getIsASet()}">
                <a href="#" th:href="@{/viewModule/}+${docId}+'/'+${isA.getExternalId()}" th:text="${isA.getName()}"></a>
              </div>  

              <h4>Crosscuts: </h4>
              <div th:if="${!module.getCrossCutsSet().isEmpty()}" th:each="crosscut : ${module.getCrossCutsSet()}">
                <a href="#" th:href="@{/viewModule/}+${docId}+'/'+${crosscut.getExternalId()}" th:text="${crosscut.getName()}"></a>
              </div>   

              <p>
            <span class="h4">One-To-One: </span>
          
          <div th:if="${!module.getOneToOneSet().isEmpty()}" th:each="oneToOne : ${module.getOneToOneSet()}">
            <a href="#" th:href="@{/viewModule/}+${docId}+'/'+${oneToOne.getExternalId()}" th:text="${oneToOne.getName()}"></a>
          </div>
          </p>
          <p>
          <span class="h4">One-To-Many: </span>
         

          <div th:if="${!module.getOneToManySet().isEmpty()}" th:each="oneToMany : ${module.getOneToManySet()}">
            <a href="#" th:href="@{/viewModule/}+${docId}+'/'+${oneToMany.getExternalId()}" th:text="${oneToMany.getName()}"></a>
          </div>
          </p>
          <p>
          <span class="h4">Many-To-Many: </span>
          <div th:if="${!module.getManyToManySet().isEmpty()}" th:each="manyToMany : ${module.getManyToManySet()}">
            <a href="#" th:href="@{/viewModule/}+${docId}+'/'+${manyToMany.getExternalId()}" th:text="${manyToMany.getName()}"></a>
          </div>
          </p>
          <p>
          <span class="h4">Aggregates: </span>
          <div th:if="${!module.getAggregatedSet().isEmpty()}" th:each="aggregated : ${module.getAggregatedSet()}">
            <a href="#" th:href="@{/viewModule/}+${docId}+'/'+${aggregated.getExternalId()}" th:text="${aggregated.getName()}"></a>
          </div>
          </p>
              <div style="margin-top: 20px; border-top: 1px solid #DDDDDD;">
                <ul class="list-group" style="margin-top:10px">
                  <li class="list-group-item" th:each=" ann : ${module.getAnnotationsByTag('Module')}">
                    <a href="" th:name="${ann.id}"></a> 
                    <p>
                      <b>Document Quote: </b>
                      <i><span th:text="'(...)' + ${ann.quote} + '(...)'"></span></i>
                    </p>
                    <p><b>Comment: </b><span th:text="${ann.text}"></span></p>
                    <p><b>Tag: </b><span th:text="${ann.tag}"></span></p>
                  </li>
                </ul>
              </div>
              <div id="EditText">
                <div th:id="'textViewer'+${module.getExternalId()}" th:text="${module.getText()}" style="border-style: solid; border-width: 1px; border-color: #DEDEDE; padding: 5px; border-radius: 4px;" th:if="${module.getText() != null} and ${!module.getText().equals('')}"></div>
              </div>
              <!-- -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--</div>-->
  <script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip(
      )  });
  </script>
  <style type="text/css">
  .element-title{
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #C8C8C8;
  }

  </style>
</body>
</html>